.o_kanban_view .o_kanban_group .o_kanban_header > .o_kanban_header_title .o_column_title { font-weight: bold}

.birthday { background-image: url('/kw_greetings/static/src/img/birthday.jpg');background-repeat: no-repeat; height: 525px;width: 700px;background-size: contain ; overflow-x: hidden;}
.birthday .h1 { font-size: 4rem;}
.birthday .content {    margin-top: 15rem;color: #fff;margin-left: 5rem;width: 450px;}
.birthday .message {     margin-left: 5rem;width: 500px;text-align: left;color: #fff;}


.anniversary { background-image: url('/kw_greetings/static/src/img/wedding_anniversary.jpg');background-repeat: no-repeat; height: 525px;width: 700px;background-size: contain ; overflow-x: hidden;}
.anniversary .h1 { font-size: 4rem;}
.anniversary .content {    margin-top: 15rem;color: #000;margin-left: 4rem;width: 450px;}
.anniversary .message {     margin-left: 4rem;width: 500px;text-align: left;color: #000;}

.service { background-image: url('/kw_greetings/static/src/img/year_of_service.jpg');background-repeat: no-repeat; height: 525px;width: 700px;background-size: contain ; overflow-x: hidden;}
.service .h1 { font-size: 4rem;}
.service .content {    margin-top: 21rem;color: #fff;margin-left: 14rem;width: 450px;}
.service .message {     margin-left: 14rem;width: 500px;text-align: left;color: #fff;}

.wellwishes { background-image: url('/kw_greetings/static/src/img/best_wishes.jpg');background-repeat: no-repeat; height: 525px;width: 700px;background-size: contain ; overflow-x: hidden;}
.wellwishes .h1 { font-size: 4rem;}
.wellwishes .content {    margin-top: 25rem;color: #fff;margin-left: 14rem;width: 450px;}
.wellwishes .message {     margin-left: 14rem;width: 500px;text-align: left;color: #fff;}