@font-face {
    font-family: OpenSans;
    src: url(/kwantify_theme/static/src/fonts/OpenSans-Regular.ttf)
}
body, html {margin: 0;padding: 0;
    font-family: OpenSans;
    src: url(/kwantify_theme/static/src/fonts/OpenSans-Regular.ttf)}
/* .navbar.navbar-expand-md.navbar-light.bg-light { display: none;}
.bg-light.o_footer { display: none;}
#oe_main_menu_navbar{ display: none;} */
.nav.navbar-nav.ml-auto.text-right { display: none;}
table {
    width: 70%;    
}
.md-form.score { margin-top: 0rem; margin-bottom: 0rem;}
.w-10 { width: 10%;}
.w-5 { width: 5%;}
.md-form.textarea-justify { margin-top: 0rem !important; margin-bottom: 0px !important;}
.thead-orange { background-color: #eee;}
.form-control.drp { border: none; border-bottom: 1px solid #ddd; margin-top: 26px;}
.form-control.drp:focus{
    outline: none;
}
.md-form textarea.md-textarea {
    padding: 1.2rem 0;
}
.md-form textarea.md-textarea.lm_remark {
    padding: 0.5rem 0;
}
.h1 { font-size: 1.8rem;}
.alert.alert-info.al {border: none;
    border-left: 10px solid #108fbb; }
.form-control.lm { border:none; border-bottom: 1px solid #ddd;}
table.table thead th { font-size: initial; font-weight: 700; color: black;}
table.table th { padding-top: 0.8rem; padding-bottom: 0.8rem;}
span.step {
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    color: black;
    display: inline-block;
    font-weight: bold;
    margin-right: 5px;
    text-align: center;
    width: 1.2em;
    border: 2px solid #fff;
    background: #fff;
    color: black;
    border-radius: 10%;
  } 
#goal_name_vals,.mile { font-size: 16px;}
  .card .md-form label { font-weight: 700;}
  .alert.alert-warning { border-left: 5px solid #ff9800;}
  .card .md-form label { font-weight: 700;}
  .card-header { background-color: #108fbb;  font-size: 36px;}
  .content_heading { color: white; font-size: 3.5rem; margin-top: 135px;word-break: break-word; position: relative; padding: 20px;}
  h6.text-dark { font-size: 16px;}
  .col-sm-4.goal.p-2 { border-radius: 5px 0px 0px 5px; height: 570px;}
  .col-sm-8.p-4 { height: 570px; overflow-y: auto;}
  
  .col-sm-8.p-4 ::-webkit-scrollbar {
    width: 12px;
}

.col-sm-8.p-4 ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}

.col-sm-8.p-4 ::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

#oe_main_menu_navbar { display: none;}
body.o_connected_user { padding-top: 0px !important;}

#oe_main_menu_navbar + #wrapwrap .o_header_affix { top: 0;}

.funkyradio div {
  clear: both;
  overflow: hidden;
}

.funkyradio label {
  width: 100%;
  border-radius: 3px;
  border: 1px solid #D1D3D4;
  font-weight: normal;
}
.milestone_label { font-size: 14px;}

.funkyradio input[type="radio"]:empty,
.funkyradio input[type="checkbox"]:empty {
  display: none;
}

.funkyradio input[type="radio"]:empty ~ label,
.funkyradio input[type="checkbox"]:empty ~ label {
  position: relative;
  line-height: 2.5em;
  text-indent: 3.25em;
  padding-right: 12px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.funkyradio input[type="checkbox"]:empty ~ label:before {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  content: '';
  width: 2.5em;
  background: #D1D3D4;
  border-radius: 3px 0 0 3px;
}

.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label {
  color: #888;
}

.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label:before {
  content: '\2714';
  text-indent: .9em;
  color: #C2C2C2;
}

.funkyradio input[type="checkbox"]:checked ~ label {
  color: #777;
}

.funkyradio input[type="checkbox"]:checked ~ label:before {
  content: '\2714';
  text-indent: .9em;
  color: #333;
  background-color: #ccc;
}

.funkyradio input[type="checkbox"]:focus ~ label:before {
  box-shadow: 0 0 0 3px #999;
}

.funkyradio-primary input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #5cb85c;
}

.navbar.navbar-expand-md.navbar-light.bg-light { box-shadow: none;
    background: transparent !important;}
.btn.btn-secondary.badge.btn-md { background-color: #faa635 !important; font-size: 14px;}
.logedin-user {display: flex;align-items: center;}
.logedin-user img {    width: 55px;
  margin-right: 11px;
  border-radius: 50%;
  border: 2px solid #108fbb;}
.logedin-user .info {flex: 1;}

.badge-primary {
  color: #fff !important;
  background-color: #108fbb !important;
}
@media (min-width: 1600px){
  .container{max-width: 85%; } 
} 
@media (min-width: 1280px){
  .container{max-width: 85%;}
} 

@media (min-width: 1024px){
  .container{max-width: 85%;}
} 

@media (min-width: 768px){
    .container{max-width: 85%;}
}

@media print {
  #back {
    display: none;
  }
}