/* body {
    background: url('/kw_recruitment/static/src/img/_MG_8938 aa.jpg') no-repeat fixed right;
    background-size: 70%;
  } */

  @font-face {
    font-family: OpenSans;
    src: url(/kwantify_theme/static/src/fonts/OpenSans-Regular.ttf)
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body {
    background: url('/kw_recruitment/static/src/img/_MG_8938 aa.jpg') no-repeat fixed right;
    background-size: 70%;
  }

  .card {
    background: #108fbb;
    border: 0;
  }

  .card, .navbar, .pagination .page-item.active .page-link { box-shadow: none; }
  .navbar-light { background: transparent !important;}
  .collapse.navbar-collapse { visibility: hidden;}
  
input[type="file" ] {
  border-top: 0px;
  border-left:0px;
  border-right:0px;
}