/*career page design starts*/

\ .bg-header {
    background: rgba(60, 57, 57, 0.9215686274509803);
}

.mb-1 {
    margin-top: 1rem;
}

.mt-2 {
    margin-top: 2rem;
}

.nav__link {
    padding: 0;
    margin: 0 2.5rem 0 0;
}

.nav__link .plus-icon {
    right: 33px;
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background: rgb(158, 158, 158)!important;
}

.inner-top-navigation-career.bg-dark {
    background-color: rgb(52, 58, 64);
    background-image: url(../image/career-banner.jpg);
    background-repeat: no-repeat;
    /*background-position: bottom left;*/
    background-size: cover;
    height: 100vh;
    overflow: hidden;
    position: relative;
    z-index: 2;
    width: 100%;
}

.banner-bg {
    position: absolute;
    /* top: 30px; */
    width: 100%;
    height: 145px;
    bottom: -3px;
    background-image: linear-gradient(to top, rgb(22, 25, 31), rgba(29, 32, 37, 0));
}

.header-background {
    background-color: rgba(35, 31, 31, 0.65);
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.32);
}

.benefit-background {
    background-image: url(../image/benefit_bg.jpg);
    position: relative;
    z-index: 3;
}

.benefit-section {
    padding: 6rem 0rem 2rem 0rem;
}

.banner-caption h1 {
    font-size: 3rem;
    font-weight: 800;
}

.banner-caption {
    position: absolute;
    /* right: 207px; */
    bottom: 61px;
    left: 395px;
    /* background: blue; */
}

.inner-top-navigation h2 {
    color: rgb(255, 255, 255);
    font-weight: 800;
    padding: 0px 1rem;
}

.culture-section {
    margin-bottom: 3.5rem;
}

.apply-section .card-img-top {
    height: 172px;
}

.culture-section h2 {
    margin-top: 6rem;
    position: relative;
    margin-bottom: 6rem;
    font-size: 3rem;
    font-weight: 700;
}

.culture-section h3 {
    margin-bottom: 2rem;
}

.culture-section h2:before {
    content: '';
    position: absolute;
    left: 0;
    width: 100px;
    height: 11px;
    background: #faa634;
    bottom: -22px;
}

.search-btn {
    margin-top: 3rem;
}

.search-btn .btn {
    padding: .7rem .1.5rem;
    font-size: 1.2rem;
    box-shadow: none;
}

.culture-collapse {
    display: none;
}

.development-section h2 {
    position: relative;
    /*border-bottom: 4px solid var(--web-color1);*/
    margin: 0rem 0rem 3rem 0rem;
    z-index: 2;
}

.development-area {
    padding: 20rem 0rem;
}

.development__card h6 {
    font-size: 1rem;
}

.development__card p {
    font-size: 1rem;
}

.collapse-section {
    border: 4px solid;
    border-image: conic-gradient(#ec1013, #f19633, #F44336, #028db8, #e80e11) 1;
}

.collapse-section .card-header {
    color: #fff;
    padding: .75rem 0;
    background: #1d2025;
    border-bottom: 1px solid #ccc;
    color: #fff;
    background: #1d2025;
    border-bottom: 1px solid #ccc;
}

.collapse-section .card {
    border: none;
    background-color: transparent;
}

.collapse-section .accordion {
    padding: 10px;
}

.accordion .card-header:after {
    font-family: 'FontAwesome';
    content: "\f056";
    float: right;
}

.accordion .card-header.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\f055";
}

.development-section h2:after {
    content: '';
    position: absolute;
    left: 0;
    width: 100px;
    height: 3px;
    background: #faa634;
    bottom: -23px;
}

.development__card {
    height: 216px;
    padding: 2rem 2rem 2rem 2rem;
    margin-top: 1.5rem;
    border: 4px solid;
    border-image: conic-gradient(#ec1013, #f19633, #F44336, #028db8, #e80e11) 1;
}

.culture__textarea {
    padding: 2rem;
    border: 4px solid;
    border-image: conic-gradient(#ec1013, #f19633, #F44336, #028db8, #e80e11) 1;
    position: relative;
    z-index: 6;
}

.apply__card p {
    font-size: 1rem;
    text-align: left;
}

.apply__card h6 {
    text-align: left;
}

.apply__caption {
    margin: 2rem 0rem 2rem 0rem;
}

.apply__caption h2 {
    display: inline-block;
    position: relative;
    margin-right: 3rem;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: -4rem;
}

.apply__caption h2:after {
    content: '';
    position: absolute;
    left: 143px;
    width: 8px;
    height: 60px;
    background: #faa634;
    bottom: -11px;
}

.benefit-caption {
    margin-bottom: 4rem;
}

.benefit-caption h2 {
    display: inline-block;
    position: relative;
    margin-right: 4rem;
    font-size: 3rem;
}

.benefit-caption h2:after {
    content: '';
    position: absolute;
    left: 186px;
    width: 10px;
    height: 68px;
    background: #faa634;
    bottom: -18px;
}

.apply__card {
    padding: 0rem;
    margin-top: 1.5rem;
    height: 308px;
    background: transparent;
    border: 4px solid;
    border-image: conic-gradient(#ec1013, #f19633, #F44336, #028db8, #e80e11) 1;
}

.recent__section {
    margin: 2.5rem 0rem 7rem 0rem;
}

.recent__section a {
    padding-top: .6rem;
}

.recent__section li {
    position: relative;
    padding: 10px 0px;
    border-bottom: 1px solid #ccc;
}

.recent__section li:before {
    content: '';
    position: absolute;
    bottom: 12px;
    /* background: #ccc; */
    left: 0;
    width: 100%;
    height: 3px;
    border-bottom: 1px solid #cccccc29;
}

.recent__section li:last-child:before {
    border-bottom: 0px;
}

.recent__section li a {
    /* margin-left: 7rem; */
}

.recent__section .btn {
    border-radius: 6px;
    padding: .5rem .9rem .5rem .9rem!important;
    box-shadow: 0px 0px 0px rgb(190, 190, 190);
    cursor: pointer;
    font-size: 1rem;
}

.recent__section .list-group-item {
    background-color: rgb(29, 32, 37);
    border: none;
    color: white;
}

.recent__section h5 {
    color: #d49030
}

.border_none {
    border-bottom: 0px!important;
}

.btn {
    padding: .3rem 1.3rem;
    border-radius: 6px;
}

.development-area {
    position: relative;
}


/*.development-area:before {
    content: '';
    position: absolute;
    left: 317px;
    top: -326px;
    width: 300px;
    height: 1501px;
    background-color: rgb(2, 141, 184);
    transform: rotate(28deg);
}
*/

.apply-section {
    position: relative;
}

.explore-section {
    position: relative;
}

.explore-section:before {
    content: '';
    position: absolute;
    right: 791px;
    top: -300px;
    width: 300px;
    height: 3375px;
    background-image: linear-gradient(#f8a432, #d05939, #bd343c, #794f67, #028db8, #028db8, #028db8);
    transform: rotate(22deg);
    z-index: 1;
}

.explore-section:after {
    content: '';
    position: absolute;
    /* right: -211px; */
    right: 0;
    top: 28px;
    height: 840px;
    width: 725px;
    z-index: 5;
    background: url(../image/Layerimg.png);
    background-repeat: no-repeat;
    background-size: 100%;
}

.explore-caption {
    margin-bottom: 2rem;
}

.navigation-career {
    padding-bottom: 3rem;
}

.image__section {
    position: relative;
}

.benefit__icon {
    text-align: center;
    margin: 1rem;
}

.benefit__card p {
    margin-top: 4rem;
}

.apply__caption span {
    position: absolute;
    top: -8px;
    display: inline-block;
}


/*.item--aboutCSM {
    background-color: var(--white);
    background-image: url(../image/location-img.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 95%;
    padding: 0;}*/

.footer-section {
    padding: 6rem 0rem 6rem 0rem;
}

.footer-section h5 {
    margin-top: 1rem;
}

.footer-section h6 {
    position: relative;
}

.footer-section h6:before {
    content: '';
    position: absolute;
    left: 0px;
    width: 181px;
    height: 4px;
    background: #faa634;
    bottom: -23px;
}

.footer-section ul {
    margin-top: 2rem;
}

.footer-section li {
    padding: .2rem 0rem;
}

.footer-section h6.color__red:before {
    background: rgb(215, 24, 42);
    width: 74px;
}

.footer-section h6.color__blue:before {
    background: rgb(0, 143, 187);
    width: 66px;
}

.footer-section h6.color__grey:before {
    background: rgba(204, 204, 204, 0.5803921568627451);
    width: 74px;
}

.footer-logo {
    width: 42%;
    height: ;
    margin-left: 6rem;
    margin: 1rem 0rem 1rem 6rem;
}

.footer-logo img {
    width: 100%;
    vertical-align: middle;
}

.location-section {
    position: relative;
    z-index: 12;
    height: 100%;
}

.location-area {
    background-image: url(../image/location-img.png);
    height: 600px;
    background-size: cover;
    width: 100%;
}

.location-section h2 {
    font-weight: 1000;
    font-size: 3rem;
    padding: 2rem 0rem 0rem 0rem;
    margin-bottom: 2rem;
}

.text-grey {
    color: rgb(177, 179, 181);
}

.subscription h5 {
    margin-bottom: 2rem;
}

.header-container {
    width: 94%;
    margin: 51px;
}

.subscription label,
.social-connect label {
    color: rgba(255, 255, 255, 0.88);
    font-size: 1.1rem;
    font-weight: 600;
    display: block;
    margin-bottom: 1rem;
    position: absolute;
    width: 1727px;
    /* top: 7px; */
    left: 13px;
    bottom: 149px;
}

.benefit__card a {
    margin-left: .3rem;
}

.Subscribe_area {
    padding: 6rem 0rem 2rem 0rem;
}

.subscription__input {
    margin-left: 4rem;
}


/*.social_links {
    padding-top: 1rem;
}*/


/*.social__connect{}
    .social__connect svg{}*/

.social-connect__link svg {
    height: 40px;
    fill: rgb(255, 255, 255);
    transition: .4s ease all;
    /* border-radius: 27px; */
    width: 40px;
    /* background-color: rgb(52, 58, 64); */
    line-height: 100%;
    font-size: .9rem;
    padding: 0.6rem;
}

.subscription__input {
    background-color: transparent;
    border-radius: 16px;
}

.Subscribe_area input {
    position: relative;
}


/*.Subscribe_area input:before {
    position: absolute;
    background-image: url(../image/dot.png);
    width: 32px;
    height: 40px;
    content: '';
    z-index: 14;
     position: absolute;
  right: -112px;
  top: 8px;
  height: 883px;
  width: 656px;
  z-index: 5;
}*/

.bg-black {
    background-color: rgb(29, 32, 37);
}

.benefit-caption span {
    position: absolute;
    top: 88px;
}

.social-connect__link {
    margin: 0 0.4rem;
}

.culture__area {
    padding-right: 4rem;
}

.menu-section a {
    color: #fff;
}

.menu-section li {
    display: inline-block;
    font-size: 1.2rem;
    padding: .8rem;
}


/*.nav__handle{
    display: flex;
}
*/

.swiper-container {
    width: 100%;
    height: 100%;
}

.explore-section .swiper-slide {}

.swiper-slide {
    /*text-align: center;*/
    font-size: 18px;
    /* background: #fff;*/
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}


/* .footer__links{display: none}*/

.connect-link {
    text-align: center;
    display: none;
}

.swiper-pagination-bullet {
    display: none!important;
}


/*media Query*/

@media(max-width:1680px) {
    .explore-section:before {
        right: 716px;
    }
}

@media(max-width:1600px) {
    .explore-section:before {
        right: 701px;
    }
}

@media(max-width:1440px) {
    .explore-section:before {
        right: 625px;
    }
    .social-connect__link svg {
        height: 37px;
        width: 37px;
    }
}

@media(max-width: 1366px) {
    .social-connect__link svg {
        height: 35px;
        width: 35px;
    }
    .explore-section:after {
        top: 63px;
        width: 692px;
    }
    .explore-section:before {
        width: 262px;
    }
}

@media (max-width: 1200px) {
    .header-container {
        width: 92%;
        margin: 51px;
    }
    .footer-section h6:before {
        width: 134px;
    }
    .footer-logo {
        margin: 1rem 0rem 1rem 1rem;
    }
    .explore-section:after {
        top: 205px;
        width: 558px;
        height: 846px;
    }
    .explore-section:before {
        right: 541px;
        transform: rotate(19deg);
        width: 209px;
    }
}

@media(max-width:1152px) {
    .header-container {
        width: 98%;
        margin: 0px;
    }
    .nav__link {
        padding: 0;
        margin: 0 2.5rem 0 0;
    }
    .nav__link .plus-icon {
        right: 22px;
    }
    .explore-section:after {
        top: 182px;
        width: 538px;
    }
    .development__card {
        height: 250px;
    }
}

.development__card a {
    font-size: 1rem;
}

@media (max-width: 1024px) {
    .header-container {
        width: 100%;
        margin: -14px;
    }
    .nav__link {
        font-size: 1rem;
        padding: 0 0rem 0 0;
    }
    .header-container {
        width: 100%;
        margin: 0;
    }
    .csm-logo {
        width: 126px;
    }
    .development-area {
        padding: 7rem 0rem;
    }
    .banner-caption {
        bottom: 56px;
        left: 46px;
    }
    .benefit-caption span {
        top: 79px;
    }
    .explore-section:after {}
    .apply__card {
        height: 330px;
        width: 253px;
    }
    .explore-section:before {
        width: 181px;
    }
}

@media (max-width: 992px) {
    .nav__link {
        font-size: .9rem;
        padding: 0 .8rem 0 0;
    }
    .nav__link .plus-icon {
        right: 32px;
    }
    .explore-section:after {
        top: 232px;
        width: 490px;
    }
    .explore-section:before {
        width: 165px;
        right: 546px;
    }
}

@media (max-width: 768px) {
    .subscription label,
    .social-connect label {
        bottom: 102px;
    }
    .subscription__input {
        margin-left: 0rem;
    }
    .nav__link .plus-icon {
        top: -5px;
    }
    .nav__link {
        padding: 0 .8rem 0 1rem;
    }
    .inner-top-navigation-career.bg-dark {
        height: 96vh;
    }
    .explore-section:after {
        top: 383px;
        width: 377px;
    }
    .explore-section:before {
        width: 144px;
        right: 475px;
        transform: rotate(11deg);
        height: 5000px;
    }
    .apply__card {
        width: 100%;
    }
    .location-area {
        height: 327px;
    }
    .footer-section h6:before {
        width: 74px;
    }
    .links__space {
        margin-left: 3rem;
    }
    .benefit-caption {
        margin-bottom: 7rem;
    }
    .banner-caption {
        right: 29px;
    }
    .swiper-pagination-bullet {
        display: none!important;
    }
}

@media (max-width: 630px) {
    .inner-top-navigation-career.bg-dark {
        height: 75vh;
    }
    .swiper-pagination-bullet {
        display: inline-block!important;
    }
    .apply__card {
        width: 100%;
    }
    .development__card {
        height: 100%;
    }
    .location-area {
        height: 270px;
    }
    .footer__links {
        display: block;
    }
    .footer-section {
        display: none;
    }
    .connect-link {
        display: block;
    }
    .explore-section:after {
        display: none;
    }
    .explore-section:before {
        display: none;
    }
    .culture-section h2 {
        font-size: 2.3rem;
    }
    .culture-section h3 {
        font-size: 1.4rem;
    }
    .benefit-caption span {
        top: 43px;
    }
}

@media (max-width: 600px) {
    .development__card {
        height: 100%;
    }
}

@media (max-width: 576px) {
    .collapse-section {
        margin-bottom: 4rem;
    }
    .culture-section {
        display: none;
    }
    .apply-section {
        margin-bottom: 108px;
    }
    .culture-collapse {
        display: block;
        position: relative;
        z-index: 31;
        background: #1d2025;
    }
    .culture-block {
        background-color: #1d2025;
        padding-top: 1em;
        margin-top: -54px;
        position: relative;
        z-index: 9;
    }
    .subscription__input {
        margin-left: 0rem;
    }
    .inner-top-navigation-career.bg-dark {
        height: 69vh;
    }
    .benefit-caption h2 {
        display: block;
    }
    .benefit-caption h2:after {
        display: none;
    }
    .benefit-caption span {
        position: relative;
        top: 0px;
    }
    .apply__caption h2:after {
        display: none;
    }
    .apply__caption span {
        top: 37px;
        display: block;
    }
    .apply__caption {
        margin: 2rem 0rem 4rem 0rem;
    }
}


/*.menu-section{display: none;}*/

@media (max-width: 530px) {
    .inner-top-navigation-career.bg-dark {
        height: 65vh;
    }
}

@media(max-width:480px) {
    .inner-top-navigation-career.bg-dark {
        height: 57vh;
    }
    .location-area {
        height: 238px;
    }
}

@media(max-width:430px) {
    .location-area {
        height: 213px;
    }
    .culture-section h2 {
        font-size: 1.9rem;
    }
    .culture-section h3 {
        font-size: 1.15rem;
    }
    .inner-top-navigation-career.bg-dark {
        height: 53vh;
    }
}

@media(max-width:375px) {
    .location-area {
        height: 171px;
    }
    .inner-top-navigation-career.bg-dark {
        height: 44vh;
    }
    .banner-caption h1 {
        font-size: 2rem;
    }
}

@media(max-width: 320px) {
    .inner-top-navigation-career.bg-dark {
        height: 39vh;
    }
    .banner-bg {
        bottom: -44px;
    }
}