/*
=This File Contain=======
Bootstrap.min.css
Default propreties
Root Variables
Helper Class
Header
Footer

*/

html, body {margin: 0;padding: 0;font-size: 14px;}
body {overflow-x: hidden;font-family: 'Open Sans', sans-serif;}
ul, ol {margin-left: 0;padding-left: 1em;}
ul li, ol li{margin:0.5em 0;}
a {transition: all .5s ease-in-out;cursor: pointer;}
a:hover, a:focus {text-decoration: none;}
h1, h2, h3, h4, h5 {font-family: 'Overpass', sans-serif;}

:root {
    --web-color1: rgb(247, 148, 29);
    --web-color2: rgb(215, 24, 42);
    --web-color3: rgb(17, 143, 187);
    --web-color4: rgb(0, 150, 136);
    --web-color5: rgb(220, 57, 46);
    --web-color6: rgb(193, 47, 95);
    --web-color7: rgba(30, 0, 150, 0.66);
    --text-darkBlue: rgb(7, 10, 140);
    --lightGray: rgb(101, 101, 101);
}

.text--yellow {color: rgb(247, 148, 29) !important;color: var(--web-color1) !important;}
.text--red {color: var(--web-color2) !important}
.text--blue {color: var(--web-color3) !important}
.text--gray {color: rgb(198, 198, 198) !important}
.text-lightGray {color: var(--lightGray) !important}
.text--darkgray {color: rgb(51, 51, 51)!important}
.bg--yellow {background: var(--web-color1) !important}
.bg--red {background: var(--web-color2) !important}
.bg--blue {background: var(--web-color3) !important}
.bg--seagreen {background: var(--web-color4) !important}
.bg--drorange {background: var(--web-color5) !important}
.bg--pink {background: var(--web-color6) !important}
.bg--purple {background: var(--web-color7) !important}
.white--bg {background: #fff !important}

/*Dark view*/
body.high-contrast .offcanvas .nav__secondary,
body.high-contrast .left-triangle,
body.high-contrast .right-triangle,
body.high-contrast .site-footer
{background: rgb(76, 76, 76) !important}

body.high-contrast,
body.high-contrast .page-details-section,
body.high-contrast .case-studies,
body.high-contrast .timeline-section:before,
body.high-contrast .service-request,
body.high-contrast select
{background: rgb(37, 37, 37) !important;}

body.high-contrast .bg-dark,
body.high-contrast .bg--red,
body.high-contrast .bg--yellow,
body.high-contrast .highlight__div,
body.high-contrast .card,
body.high-contrast .solutions-sec,
body.high-contrast .site-footer
{background: rgb(23, 23, 23) !important;}

body.high-contrast .timeline__desc ul li:before,
body.high-contrast .timeline-nav__item:hover:after,
body.high-contrast .slick-current .timeline-nav__item:after
{background: #fff !important}

body.high-contrast ul li,
body.high-contrast p,
body.high-contrast .nav__link,
body.high-contrast .copyright-text,
body.high-contrast .footer__address,
body.high-contrast .service-request .control-group .btn.btn-sm,
body.high-contrast .secondary__link,
body.high-contrast .timeline__desc ul li
{color: #fff600 !important;}

body.high-contrast .page-item.active .page-link{background: rgb(23, 23, 23) !important;border-color: rgb(23, 23, 23) !important;}
body.high-contrast .nav__item .plus-icon{background: rgb(181, 181, 181) !important}
body.high-contrast .social-connect__link svg{fill: #fff !important}

body.high-contrast h1, 
body.high-contrast h2,
body.high-contrast h3, 
body.high-contrast h4,
body.high-contrast h5,
body.high-contrast .form-section div,
body.high-contrast .card-section a,
body.high-contrast .form-control,
body.high-contrast .slick-current .timeline-nav__item,
body.high-contrast .accodian .card .card-body .read-more,
body.high-contrast .accodian .card .card-body .read-more:after
{color: #fff !important}

body.high-contrast .social-section,
body.high-contrast .philosophy-list
{border: 1px solid rgb(255, 231, 159);box-shadow: none}
body.high-contrast .btn--cut:after{all:unset;}

body.high-contrast .nav__item .nav__secondary{border-color: transparent !important;}

/*preloader*/
.preloader{position: fixed;left: 0;top: 0;right: 0;bottom: 0;z-index: 25;background: rgba(0,0,0,.95);display: flex;align-items: center;justify-content: center;}
.preloader__icon span{display: inline-block;vertical-align: top;height: 15px;width: 15px;border-radius: 50%;margin: 0 7px;animation: fadeOut 1s infinite;}
.preloader__icon span:nth-child(1){
    background-color: rgb(247, 148, 29);
    background-color: var(--web-color1);
}
.preloader__icon span:nth-child(2){
    background-color: rgb(215, 24, 42);
    background-color: var(--web-color2);
    animation-delay: .15s;
}
.preloader__icon span:nth-child(3){
    background-color: rgb(17, 143, 187);
    background-color: var(--web-color3);
    animation-delay: .3s;
}

@keyframes fadeOut{
    from{opacity: 1}
    to{opacity: 0.2}
}

.left-triangle, .right-triangle {position: absolute;z-index: 1;}

.left-triangle {
    height: 250px;
    width: 100px;
    background: var(--web-color1);
    -webkit-clip-path: polygon(0 0, 100% 0, 25% 100%, 0% 100%);
    -moz-clip-path: polygon(0 0, 100% 0, 25% 100%, 0% 100%);
    -ms-clip-path: polygon(0 0, 100% 0, 25% 100%, 0% 100%);
    -o-clip-path: polygon(0 0, 100% 0, 25% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 25% 100%, 0% 100%);
}

.right-triangle {
    height: 280px;
    width: 135px;
    background: var(--web-color3);
    -webkit-clip-path: polygon(88% 0, 100% 0, 100% 100%, 0% 100%);
    -moz-clip-path: polygon(88% 0, 100% 0, 100% 100%, 0% 100%);
    -ms-clip-path: polygon(88% 0, 100% 0, 100% 100%, 0% 100%);
    -o-clip-path: polygon(88% 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(88% 0, 100% 0, 100% 100%, 0% 100%);
}

.triangle--red {background: var(--web-color2)!important}
.triangle--blue {background: var(--web-color3)!important}

.site-header {
    height: 55px;
    padding: 0 2.2rem;
    position: fixed;
    width: 100%;
    z-index: 20;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-header.header-fixed {transition: .4s}
.site-header:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    transition: .1s;
    background-color: rgb(57, 57, 57);
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.6);
}

.site-header.header-fixed:before {height: 100%;transition: .4s}
.site-header.canvas--visible {background-color: rgb(57, 57, 57);}
.header-container {width: 100%;}
.csm-logo {line-height: 0;width: 125px;position: relative;z-index: 2;margin: 0;}
.csm-logo h1 {margin: 0;line-height: 0;}
.logo__img {width: 100%;}
.csm-logo span {
    position: absolute;
    height: 100%;
    width: 6px;
    background: #eaeaea;
    transform: skewX(-22deg);
}

.csm-logo span:nth-child(3) {left: 0;background: var(--web-color1);}
.csm-logo span:nth-child(2) {left: 12px;background: var(--web-color2);}
.csm-logo span:nth-child(1) {left: 24px;background: var(--web-color3);}
.search-handle{width: 25px;margin-left: 18%;}
.search-handle svg{fill: #fff}

.search-panel{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 23;
    background: #fff;
    transition: .3s ease all;
    transform: scale(0);
    opacity: 0;
    transform-origin: 75% 30px;
}
.search-panel.show{transform: scale(1);opacity: 1}
.search-panel__close{position: absolute;right: 25px;top: 30px;width: 25px;}
.search-panel__form{display: flex;flex-flow: column;align-items: center;justify-content: center;height: 100%;}
.search-panel__input{border: none;border-bottom: 2px solid rgb(115, 115, 115);font-size: 1.6rem;width: 85%;}
.search-panel__input::placeholder{color: #ccc}
.search-panel__input:focus{outline: none;}
.btn-search{font-size: 1.4rem;margin-top: 2rem;background-color: var(--web-color3);color: rgb(255, 255, 255);}

.nav__handle {
    width: 10px;
    height: 30px;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    border: none;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 2;
    transition: .1s;
}

.nav__handle.handle__close {background: none;transform: rotate(45deg);}
.nav__handle.handle__close span {margin: 0 0 .4rem 0;transition: .2s}
.nav__handle span {height: 5px;width: 5px;border-radius: 50%;background: rgb(204, 204, 204);margin: 0 0 .2rem 0;}
.nav__handle.handle__close span:before {
    content: "";
    position: absolute;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background: rgb(204, 204, 204);
    left: 8px;
}
.nav__handle.handle__close span:nth-child(1):before {
    background: var(--web-color1);
    transform: translate(-16px, 11px);
}
.nav__handle.handle__close span:nth-child(2):before {display: none}
.nav__handle.handle__close span:nth-child(3):before {
    background: var(--web-color3);
    transform: translate(5px, -11px);
}

.nav__handle span:last-child {margin: 0}
.nav__handle span:nth-child(1) {background-color: var(--web-color1)}
.nav__handle span:nth-child(2) {background-color: var(--web-color2)}
.nav__handle span:nth-child(3) {background-color: var(--web-color3)}
.nav__header {height: 55px;padding: .5rem 2rem .9rem 2rem;margin: 1rem 0;}
.nav__header .nav__handle {background: none}

.offcanvas {
    position: fixed;
    background: rgb(57, 57, 57);
    width: 100vw;
    right: -100vw;
    bottom: 0;
    top: 0;
    margin-top: 55px;
    z-index: 1;
    transition: .3s all;
    overflow-y: scroll;
    opacity: 0;
    padding-top: 35px;
}

.offcanvas.canvas--visible {right: 0;opacity: 1}
.offcanvas .subscription,
.offcanvas .social-connect{margin-top: 45px;}

.nav__link {
    font-size: 1.2rem;
    padding-left: 25px;
    color: rgb(255, 255, 255);
    display: block;
    letter-spacing: .5px;
    border-top: 2px solid rgba(0, 0, 0, 0.2);
    height: 50px;
    line-height: 50px;
}
.footer__links .nav__link{font-size: 1rem;height: 40px;line-height: 40px;}

.nav__item:nth-child(4) .nav__link {border-bottom: 2px solid rgba(0, 0, 0, 0.2);}
.nav__link .plus-icon {position: relative;top: -1px;left: 10px;}
.nav__item .plus-icon:before {
    content: "";
    position: absolute;
    height: 2px;
    width: 12px;
    top: 11px;
    background: inherit;
}

.nav__item .plus-icon:after {
    content: "";
    position: absolute;
    height: 12px;
    width: 2px;
    left: 5px;
    top: 6px;
    background: inherit;
}

.nav__item.active .plus-icon {background: rgb(255, 255, 255)}
.nav__link:hover, .nav__link:focus {color: rgb(255, 255, 255);text-decoration: none}
.nav__item:nth-child(1) .plus-icon{background-color: var(--web-color1);}
.nav__item:nth-child(2) .plus-icon{background-color: var(--web-color2);}
.nav__item:nth-child(3) .plus-icon{background-color: var(--web-color3);}
.nav__item:nth-child(4) .plus-icon{ background-color: var(--web-color1);}
.nav__secondary {border-radius: 0;background-color: rgb(255,255,255);}

.secondary__link {color: rgb(0, 0, 0);padding: .7rem .5rem .7rem 2.5rem;display: block;}
.secondary__link:hover,
.secondary__link:focus {color: rgb(255, 255, 255);}

.nav__item.show .plus-icon:after {background-color: transparent;transition: .2s}

.custom-container {width: 100%;padding: 0 25px;margin: 0 auto;}

.more-links li {margin: .5rem 0}
.more-links li a {color: rgb(119, 119, 119)}
.more-links li a:hover,
.more-links li a:focus {color: rgb(255, 255, 255)}

.subscription label, .social-connect label {color: rgba(255, 255, 255, 0.88);font-size: 1.1rem;font-weight: 600;display: block;margin-bottom: 1rem;}

.subscription__input {
    background-color: transparent;
    border-radius: 45px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    padding: .5rem 1rem .7rem 1rem;
    width: 70vw;
    color: rgb(246, 246, 246);
    height: 38px;
    font-style: italic;
}

.subscription__input:focus {outline: none}
.subscription__input::placeholder {color: rgb(165, 165, 165)}
.subscription__input:focus::placeholder {color: rgb(113, 113, 113)}

.subscription__btn {
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.73);
    text-transform: uppercase;
    height: 38px;
    line-height: 38px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    display: inline-block;
    width: 38px;
    border-radius: 50%;
    text-align: center;
}

.subscription__btn:hover, .subscription__btn:focus {color: rgba(255, 255, 255, 1);border-color: rgba(255, 255, 255, 1);}
.social-connect__link {margin: 0 .7rem;display: inline-flex;height: 25px;}
.social-connect__link svg {height: 100%;fill: rgba(255, 255, 255, 0.54);transition: .4s ease all}
.social-connect__link svg:hover,
.social-connect__link svg:focus {fill: var(--web-color1)}
.nav__footer {border: 2px solid;border-color: rgba(0, 0, 0, 0.2) transparent rgba(0, 0, 0, 0.2) transparent;padding: .5rem 0 .8rem 25px;}
.nav__footer li {display: inline-block;margin-right: .5rem}
.nav__footer__link {color: rgb(119, 119, 119);font-size: .8rem;}
.nav__footer__link:hover, .nav__footer__link:focus {color: rgb(255, 255, 255);text-decoration: none}
.breadcrumb {padding: 0rem;background: rgba(0, 0, 0, 0);margin-bottom: 0rem;padding: 1rem 1rem;visibility: hidden;}

.breadcrumb-item, .breadcrumb-item.active {color: rgba(225, 225, 225, 1)}
.breadcrumb-item a {color: #fff}
.breadcrumb-item a:hover {color: var(--web-color1)}
.breadcrumb-item+.breadcrumb-item::before {
    font-family: 'icons';
    color: rgba(225, 225, 225, 1);
    content: '\ea9f';
    top: 2px;
    position: relative;
}

.arrow {width: 0;position: absolute;height: 0;}
.arrow--bottom {
    border-width: 20px 20px 0 20px;
    border-color: var(--web-color2) transparent transparent transparent;
    bottom: -12px;
    left: 44%;
}
.arrow--top {
    border-width: 0 20px 20px 20px;
    border-color: transparent transparent var(--web-color2) transparent;
    top: -12px;
    left: 44%;
}

.arrow--left {
    border-width: 20px 20px 20px 0;
    border-color: transparent var(--web-color2) transparent transparent;
    top: 44%;
    left: -12px;
}

.arrow--right {
    border-width: 20px 0 20px 20px;
    border-color: transparent transparent transparent var(--web-color2);
    top: 44%;
    right: -12px;
}

.read-more {color: #fff;display: inline-block;position: relative;padding-left: 1.6rem;}

.read-more:after {
    font-family: icons;
    content: '\ea9f';
    display: inline-block;
    margin-left: .5rem;
    font-weight: 800;
    color: rgb(255, 255, 255);
    transition: all .5s ease-in-out;
    position: absolute;
    left: -12px;
    top: .1rem;
}
.read-more:hover {color: rgb(255, 255, 255);padding-left: 0px}
.read-more:hover:after {left: 95px;color: rgb(255, 255, 255)}

/*Fixed Widget*/
.fixed-widget {
    position: fixed;
    right: -65px;
    top: 110px;
    z-index: 20;
    padding: 1.5rem;
    background-color: rgb(86, 86, 86);
    border-radius: 0 0 0 2px;
    display: none;
    -webkit-transition-duration: .3s;
    -o-transition-duration: .3s;
    transition-duration: .3s;
    -webkit-transition-delay: 1s;
    -o-transition-delay: 1s;
    transition-delay: 1s;
}
.widget__handle {
    background-color: rgb(86, 86, 86);
    position: absolute;
    left: -40px;
    top: 0;
    height: 40px;
    width: 40px;
    font-size: 15px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px 0 0 3px;
    z-index: 0;
}
.widget__handle:before {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: #fff;
    z-index: -1;
}
.fixed-widget:hover {right: 0;transition: .3s}

/*Social Widget*/
.share-widget{
    position: fixed;
    width: 37px;
    right: 10px;
    top: 85px;
    z-index: 20;
    -webkit-transition-duration: .15s;
    -o-transition-duration: .15s;
    transition-duration: .15s;
    height: 40px;
    overflow: hidden;
    border-radius: 45px;
}
.share-widget.show{height: 165px;background-color: rgb(255, 255, 255);box-shadow: 0 0 15px 2px rgba(0, 0, 0, 0.3);}
.share-widget__handle{
    height: 40px;
    padding: 8px;
    background-color: rgb(86, 86, 86);
    width: 100%;
    border-radius: 2px 2px 0 0;
}
.share-widget__handle svg {fill: #fff;}
.share-widget.show .share-widget__handle {}
.share-widget__icons{padding-top: 10px;}
.share-widget__icon{display: block;width: 20px;margin: 0 auto 15px auto;}
.share-widget__icon svg{fill: rgb(86, 86, 86)}
.share-widget__icon:hover svg{fill: rgb(0, 0, 0)}


/*Contrast View and Font Resize*/
.contrast-view__default,
.contrast-view__dark {
    height: 20px;
    width: 20px;
    display: block;
    border-radius: 50%;
    cursor: pointer;
    background-color: #fff;
    margin-bottom: .7rem
}
.contrast-view__dark {background-color: rgb(0, 0, 0);}
.font-resize {margin-top: 3rem;}
.font-resize__option {
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 2px;
    margin-bottom: .7rem;
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
    border: 1px solid #ccc;
    user-select: none;
}

/*Scroll Top*/

.scroll-top {
    cursor: pointer;
    position: fixed;
    left: 46%;
    bottom: 0;
    z-index: 11;
    display: none;
    border: 3px solid;
    border-color: var(--web-color1) var(--web-color1) transparent transparent;
    transform: rotate(-45deg);
    height: 24px;
    width: 24px;
    border-radius: 5px;
}

.scroll-top:hover {animation: scrollUp .7s infinite}

@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.spin {
  margin: 1rem auto;
  width: 100px;
  height: 100px;
  font-size: 3rem;
  color: #dedede;
  animation-name: spin;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
 
}

@keyframes scrollUp {
    0% {
        bottom: 0px
    }
    25% {
        bottom: 2px
    }
    50% {
        bottom: 4px
    }
    100% {
        bottom: 8px
    }
}

.content-banner-section {height: 100vh;position: relative;overflow: hidden;}
.content-banner-section:before {
    right: 0;
    left: 0;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));
    position: absolute;
    height: 100px;
    content: '';
}

.content-banner-section img {
    object-position: center;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.banner__caption {
    right: 0;
    left: 0;
    text-align: left;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(35, 35, 35, 0.5), rgba(0, 0, 0, 0.34));
    padding: 1.5rem 1rem 7rem;
    position: absolute;
    color: #fff;
    bottom: 0;
}

.banner__caption h2 {font-weight: 800;}
.content-banner-section .right-triangle, .content-banner-section .left-triangle {z-index: 11;}
.content-banner-section .right-triangle {right: -80px;bottom: 35px;top: auto;background: var(--web-color2);}
.content-banner-section .left-triangle {left: -50px;top: 20%;}
.inner-top-navigation {padding: 6rem 0px 1rem;}
.inner-top-navigation.bg-dark {background-color: #343a40;background-image:url(../../img/website/news-ban-bg.png);background-repeat: no-repeat;background-position: bottom left;}

/*career design ends*/
/*Override CSS*/

.popover-body {
    padding: .5rem 1rem;
    font-weight: 600;
    font-size: 1rem;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1), 0px 0px 4px rgba(0, 0, 0, 0.3), 2px 0px 10px rgba(0, 0, 0, 0.3);
}

.page-item.active .page-link {background-color: var(--web-color3);border-color: var(--web-color3);}
.page-link {color: #03475f;}
.page-link:focus {box-shadow: none}

/*ODOO*/
.o_main_navbar{display:none;}
body.o_connected_user{padding-top:0px !important; }
#oe_main_menu_navbar + #wrapwrap .o_header_affix{top:0px}
.job-details{margin-top:4em;}
.job-description h3{
	position: relative;
	margin-bottom: 2rem;
}
.job-description h3:before{
	content: '';
    position: absolute;
    left: 0;
    width: 100px;
    height: 5px;
    background: rgb(250, 166, 52);
    bottom: -10px;

}
/*Media Queries*/

@media (min-width: 375px) {
    .service-request .control-group img {width: 100px;}
    .site-header {padding: 0 3rem;}
    .search-handle {margin-left: 28%;}
}

@media (min-width: 430px) {
    .search-handle {margin-left: 45%;}  
}

@media (min-width: 576px) {
    .subscription__form {position: relative;width: 450px;margin: auto;}

    .breadcrumb {padding: 1rem 0rem 1rem;}
    .content-banner-section .left-triangle {height: 300px;width: 160px;}
    .content-banner-section .right-triangle {height: 335px;width: 160px;}
    .search-handle {margin-left: 55%;}  
}

@media (min-width: 768px) {
    .site-header{height: 70px}
    .search-handle {margin-left: 70%;}
    .form-section {padding: 2rem 0rem;}
    .content-banner-section .left-triangle {
        height: 310px;
        width: 10%;
        -webkit-clip-path: polygon(0 0, 100% 0, 62% 100%, 0% 100%);
        -moz-clip-path: polygon(0 0, 100% 0, 62% 100%, 0% 100%);
        -ms-clip-path: polygon(0 0, 100% 0, 62% 100%, 0% 100%);
        -o-clip-path: polygon(0 0, 100% 0, 62% 100%, 0% 100%);
        clip-path: polygon(0 0, 100% 0, 62% 100%, 0% 100%);
        top: 30%;
    }
    .content-banner-section .right-triangle {
        height: 210px;
        width: 12%;
        -webkit-clip-path: polygon(39% 0, 100% 0, 100% 100%, 0% 100%);
        -moz-clip-path: polygon(39% 0, 100% 0, 100% 100%, 0% 100%);
        -ms-clip-path: polygon(39% 0, 100% 0, 100% 100%, 0% 100%);
        -o-clip-path: polygon(39% 0, 100% 0, 100% 100%, 0% 100%);
        clip-path: polygon(39% 0, 100% 0, 100% 100%, 0% 100%);
        bottom: 0;
    }
    .inner-top-navigation h2 {padding: 0px}
    .banner__caption {padding: 1.5rem 0 2rem;background-image: none;}
    .banner__caption h2 {font-size: 3.5rem;width: 70%;}
    .search-panel__input{width: 500px}
}

@media (min-width: 992px) {
    .site-header {height: 90px;}
    .navbar {justify-content: space-between;}
    .csm-logo {width: 162px;}
    .nav__item {margin: 0 0 0 .7rem;}
    /*.nav__item.active .plus-icon:after {background: inherit;}*/
    .nav__link {border: none;padding: 0 3rem 0 0;}
    .nav__item:nth-child(4) .nav__link {border: none;}
    .nav__item.active {padding: 0;box-shadow: none;}
    /*.nav__item.active .nav__link{border-bottom: 2px solid #fff}*/
    .nav__item:nth-child(1n).active .nav__link {
        border-bottom: 3px solid var(--web-color1);
    }
    .nav__item:nth-child(2n).active .nav__link {
        border-bottom: 3px solid var(--web-color2);
    }
    .nav__item:nth-child(3n).active .nav__link {
        border-bottom: 3px solid var(--web-color3);
    }
    .nav__item:nth-child(4n).active .nav__link {
        border-bottom: 3px solid var(--web-color1);
    }
    .nav__secondary {
        border-radius: 2px;
        background-color: rgb(255, 255, 255) !important;
        width: 300px;
        border: none;
        box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.42);
        padding: 1rem 0;
    }
    .secondary__link {color: rgb(0, 0, 0);transition: all .2s}
    .secondary__link:hover,
    .secondary__link:focus,
    .secondary__link.active {
        color: var(--web-color2);
    }
    .dropdown-menu {
        display: block;
        opacity: 0;
        transition: .2s;
        height: 0;
        overflow: hidden;
        pointer-events: none;
    }
    .dropdown-menu.show {
        transition: .5s;
        transform-origin: -50px -20px;
        opacity: 1;
        height: auto;
        overflow: auto;
        pointer-events: unset;
    }
    .nav__link .plus-icon {position: absolute;right: 27px;top: 14px;left: auto;}
    .nav__item:nth-child(4) .nav__secondary {right: 0;left: auto;}
    .nav__handle,
    .more-links,
    .site-header .subscription,
    .site-header .social-connect,
    .nav__footer {display: none;}
    .offcanvas {all: unset;padding-right: 45px;}
    .search-handle {position: absolute;right: 0;margin-left: 0;width: 20px;}

    .service-request .section__content {padding-right: 2rem;}
    .service-request .content__heading {font-size: 4rem;margin-bottom: 1rem!important;padding-bottom: 1rem;}
    .btn {padding: .8rem 2.5rem;font-size: 1.2rem;}
    .breadcrumb {visibility: visible;}
    .carousel-caption h2 {font-size: 4rem;}
    .banner__caption h2 {font-size: 4rem;width: 50%}
    .content-banner-section .left-triangle {width: 8%;}
    .content-banner-section .right-triangle {width: 98px;}
    .banner__caption {padding: 1.5rem 0 3rem;background-image: none;}
    .service-request .section__content {padding: 3.5rem 2rem 3.5rem 0rem;}
    .inner-top-navigation h2 {font-size: 4rem;}
    .read-more {font-weight: 600;margin-top: 1rem;}
    .service-request .control-group img {width: 120px;height: 37px;}
}

@media (min-width: 1200px) {
    html, body, ul, ol {font-size: 15px;}
    .site-header {height: 95px;padding: 0;}
    .header-container {width: 83%;margin: auto;}
    .nav__link {padding: 0;margin: 0 2.2rem 0 0;font-size: 1rem;}
    .nav__item:nth-child(1n) .nav__secondary {border-bottom: 4px solid var(--web-color1);}
    .nav__item:nth-child(2n) .nav__secondary {border-bottom: 4px solid var(--web-color2);}
    .nav__item:nth-child(3n) .nav__secondary {border-bottom: 4px solid var(--web-color3);}
    .nav__item:nth-child(4n) .nav__secondary {border-bottom: 4px solid var(--web-color1);}
    .nav__item:nth-child(1n) .plus-icon {background-color: var(--web-color1);}
    .nav__item:nth-child(2n) .plus-icon {background-color: var(--web-color2);}
    .nav__item:nth-child(3n) .plus-icon {background-color: var(--web-color3);}
    .nav__item:nth-child(4n) .plus-icon {background-color: var(--web-color1);}
    .fixed-widget {display: block;}
    .share-widget {right: 2px;top: 185px;}
    .search-handle {margin-left: 25%;}
    .search-panel{transform-origin: 90% 30px;}

    .subscription label, .social-connect label {margin-bottom: 1rem;font-size: 1rem}
    .social-connect__link {margin: 0 1rem;height: 35px;}
    .social-connect__link span {font-size: 2rem;}
    .scroll-top {left: 94%;height: 35px;width: 35px;border-width: 4px;}
    .service-request .content__heading {font-size: 4.5rem;}
    .service-request {padding: 2rem 0rem 5rem;}
    .form-section {padding: 5rem 0rem;}
    .form-loader{pointer-events: none;user-select: none;}
    .form-loader:before{
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        background-image: url(../../img/website/form-loader.gif);
        background-position: center;
        background-size: 100px;
        background-repeat: no-repeat;
        z-index: 3;
    }
    .form-loader:after{
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        background-color: rgba(255, 255, 255, 0.89);
        z-index: 2;
    }
    .notification-success, .notification-error{display: flex;flex-flow: row;}
    .notification__icon{width: 65px;margin-right: 1rem;}
    .icon--success svg{fill: #2eaf4c;}
    .icon--error svg{fill: var(--web-color2);}
    .notification__text{font-weight: 600;font-size: 1.5rem;}
    .success--text{color: rgb(71, 134, 86)}
    .error--text{color: rgb(179, 2, 2);}
    .notification__link{width: 25px;display: inline-block;}
    .notification__link svg{fill: rgb(41, 143, 253);}

    .content-banner-section .left-triangle {
        width: 6%;
        -webkit-clip-path: polygon(0 0, 100% 0, 60% 100%, 0% 100%);
        -moz-clip-path: polygon(0 0, 100% 0, 60% 100%, 0% 100%);
        -ms-clip-path: polygon(0 0, 100% 0, 60% 100%, 0% 100%);
        -o-clip-path: polygon(0 0, 100% 0, 60% 100%, 0% 100%);
        clip-path: polygon(0 0, 100% 0, 60% 100%, 0% 100%);
        top: 20%;
        height: 480px;
    }
    .breadcrumb {padding: 2rem 0rem 1rem;margin-bottom: 3rem}
    .banner__caption {padding: 1.5rem 0 6rem}
    .inner-top-navigation {padding: 10rem 0px 2rem;}
    .read-more {font-size: 120%;}
    .service-request .control-group img {width: 193px;height: 44px;margin-top: 0px!important;}
    .content-banner-section .right-triangle {
        width: 133px;
        -webkit-clip-path: polygon(49% 0, 100% 0, 100% 100%, 0% 100%);
        -moz-clip-path: polygon(49% 0, 100% 0, 100% 100%, 0% 100%);
        -ms-clip-path: polygon(49% 0, 100% 0, 100% 100%, 0% 100%);
        -o-clip-path: polygon(49% 0, 100% 0, 100% 100%, 0% 100%);
        clip-path: polygon(49% 0, 100% 0, 100% 100%, 0% 100%);
    }
}

@media (min-width: 1440px) {
    .nav__link {font-size: 1.2rem;}
    .search-handle {margin-left: 40%;}
    .search-panel__input {width: 700px;font-size: 4.5rem;}
    .content-banner-section .left-triangle {
        height: 520px;
        -webkit-clip-path: polygon(0 0, 100% 0, 45% 100%, 0% 100%);
        -moz-clip-path: polygon(0 0, 100% 0, 45% 100%, 0% 100%);
        -ms-clip-path: polygon(0 0, 100% 0, 45% 100%, 0% 100%);
        -o-clip-path: polygon(0 0, 100% 0, 45% 100%, 0% 100%);
        clip-path: polygon(0 0, 100% 0, 45% 100%, 0% 100%);
    }
    .footer__links {padding-left: 8rem;}

    .banner__caption h2 {font-size: 5rem;width: 60%;}
    .subscription label,
    .social-connect label {margin-bottom: 2rem;font-size: 1.2rem;}
    .social-connect__link span {font-size: 3rem;}
    .breadcrumb {padding: 2rem 0rem 1rem;margin-bottom: 4rem}
    .content-banner-section .right-triangle {
        width: 201px;
        -webkit-clip-path: polygon(61% 0, 100% 0, 100% 100%, 0% 100%);
        -moz-clip-path: polygon(61% 0, 100% 0, 100% 100%, 0% 100%);
        -ms-clip-path: polygon(61% 0, 100% 0, 100% 100%, 0% 100%);
        -o-clip-path: polygon(61% 0, 100% 0, 100% 100%, 0% 100%);
        clip-path: polygon(61% 0, 100% 0, 100% 100%, 0% 100%);
        height: 415px;
    }
}

@media (min-width: 1680px) {
    .carousel-caption {right: 45%;left: 19%;}
    .footer__links {padding-left: 15rem;}
    .footer-top {margin: 5rem 0 1rem;}
}