
/*<--------------Career Search page---------------->*/
.mb_1{margin-bottom: -1rem;}
.social-connect__link svg {
    height: 35px;
    width: 35px;}
.fa-map-marker{color:rgb(136, 205, 229);}

.career-search{
	margin-top: 11rem;
	margin-bottom: 5rem;
}
.small-search{margin-bottom: 5rem;margin-top: 8rem; display:none;}
.small-search form{
	margin:auto;
	max-width:300px;}
.refine-search .card-header {
    padding: 1.25rem!important;
    margin-bottom: 0;
    background-color: rgb(255, 255, 255)!important;
}
.refine-search h2{
	margin-bottom: 2.5rem;
}
.refine-search .accordion .card-header:after {
    font-family: 'FontAwesome';  
    content: "\f068";
    float: right; 
}
/*.refine-search .accordion .card-header:after{
    content: "";
    position: absolute;
    height: 2px;
    width: 12px;
    top: 11px;
    background: inherit;}
.refine-search .accordion .card-header.collapsed:after {
    position: absolute;
    right: 27px;
    top: 14px;
    left: auto;
}*/



.refine-search .accordion .card-header.collapsed:after {
content: "\f067"; 
}

.latest-job .fa{color: rgb(59, 191, 236);}
.latest-job h2{
	margin-bottom: 2.5rem;
}
.latest-job a{display: block; margin-bottom: 2rem;}
.latest-tab {
    border: 1px solid rgba(128, 128, 128, 0.21);
    padding: 2rem;
}


.career-pagination{margin: 2rem 0rem 4rem 0rem;}
/*.latest-tab:before {
    content: '';
    position: absolute;
    left: 13px;
    width: 38px;
    height: 219px;
    border-left: 5px solid #feae33;
    top: 73px;
}*/
.border-left-yellow{border-left: 5px solid #feae33!important;}


form.search-icon input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid rgb(1, 149, 196);
  float: left;
  width: 80%;
  background: #ffffff;
}

form.search-icon button {
  float: left;
  width: 20%;
  padding: 10px;
  background: rgb(1, 149, 196);
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}
form.search-icon button:hover {
    background: rgb(105, 201, 232);
    color: #000;
}


form.search-icon::after {
  content: "";
  clear: both;
  display: table;
}
.page-link {border: none!important;color: #968f8f!important;}
.page-link:hover {background-color: transparent!important;}
.page-link i{margin-right: 2rem;}
.page-item:last-child .page-link i{margin-left: 2rem;}
.page-item:first-child .page-link{margin-right: 3rem!important;}
.page-item:last-child .page-link{margin-left: 3rem!important;}
.page-item.active .page-link {
    color: #0096c4!important;
    background-color: transparent!important;
    border-color: #007bff;
    border-bottom: 2px solid #0096c4!important;}
/*************Job-details***************************/
.job-details{margin-top: 8rem;}
.sky--text{color: rgb(30, 161, 203);}
.apply-btn{    
	background-color: rgb(0, 152, 201)!important;
    color: rgb(255, 255, 255)!important;
    /*border: 2px solid #0098c9 !important;
    border-bottom-right-radius: 34px 33px!important;*/}
    .btn.apply-btn {
    padding: .8rem 2.5rem;}
    .btn-set{display: none;}
    .job-details .btn--cut:after {
     border-color: rgb(255, 255, 255) rgb(255, 255, 255) rgb(255, 255, 255) transparent;
}
.Applynow-section
{
	display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #dddd;
}
.Applynow-section .fa{color: rgb(59, 191, 236);}

.Description-section
{

	padding:2rem 0rem 2rem 0rem;
}
.job-description h2{
	position: relative;
	margin-bottom: 2rem;
}
.job-description h2:before{
	content: '';
    position: absolute;
    left: 0;
    width: 100px;
    height: 5px;
    background: rgb(250, 166, 52);
    bottom: -10px;

}
.similar-job-card .fa{color: rgb(59, 191, 236);}
.similar-job-card{
	border: 1px solid rgba(128, 128, 128, 0.21);
	padding: 1rem;
	margin-bottom: 1rem; 
}
.span-block{display:inline-block;}
.career-details .span-block{display:inline-block;}
/*************Media Query***************/
@media (max-width:768px){
	.apply-btn {
    margin-bottom: 2rem;
}


}
@media (max-width:630px){
  .career-search {
    margin-top: 7rem;
    margin-bottom: 3rem;}
}
@media (max-width: 480px){
.career-search{
	display: none;
}
.small-search form.search-icon input[type=text] {
    margin-left: -5rem;
}
.small-search{display:block;}
}
@media (max-width: 430px){
.page-link i{margin-right: 0rem;}
.page-item:last-child .page-link i{margin-left: 0rem;}
.page-item:first-child .page-link{margin-right: 0rem!important;}
.page-item:last-child .page-link{margin-left: 0rem!important;}	
.small-search form.search-icon input[type=text] {margin-left: -3rem;}
.small-search {margin-bottom: 3rem;}
.btn-set{display: block;width: 122px;height: 47px;}
.btn.apply-btn.btn-set{padding: 0.8rem 1.5rem!important;}
.span-block{display: block;}
}

@media (max-width: 375px){
.page-link {padding: .5rem .65rem!important;}
.small-search form.search-icon input[type=text] {
    margin-left: -1rem;
}
.Applynow-section h1{font-size: 2rem;}
.career-details .span-block{display:block;}
}
@media (max-width: 320px){
	.page-link {
    padding: .5rem .45rem!important;
}
.small-search form.search-icon input[type=text] {
    margin-left: 0rem;
}
.Applynow-section h5{font-size: 1.1rem;}
}