.accordion .card:first-of-type {
    border: 1px solid #ddd!important;
}
.mylabel { transform: translateX(25px) translateY(5px) !important;
}
.md-form label.active {
    transform: translateY(-20px) translateX(24px) scale(0.9) !important;
}
body.o_connected_user
{
    background-color: rgb(245, 245, 245);
}
.white-text { color: #fff;}

.service-request {
    padding: 1.5rem 0rem 3rem;
    position: relative;
    margin-top:40px;
}
.service-request .content__heading {
    padding-bottom: 0;
    color: rgb(51, 51, 51);
    font-size: 1.8rem;
    font-weight: 800;
}

.service-request .content__heading:before {
    height: 0;
}
.fa.fa-check-circle{
    font-size: 5rem; color: #087903;
}

.meeting{
    margin: .375rem;
    color: inherit;
    text-transform: uppercase;
    word-wrap: break-word;
    white-space: normal;
    cursor: pointer;
    border: 0;
    border-radius: .125rem;
    background-color: #108fbb;
    color: white;
}

#survey_table1 p{margin-bottom:0rem;}
#survey_table td,
#survey_table th,
#survey_table1 td,
#survey_table1 th
{padding: 1rem !important; vertical-align: middle;}
