@media (min-width: 1600px){
    .container{max-width: 85%; } 
} 
@media (min-width: 1280px){
    .container{max-width: 85%;}
} 

@media (min-width: 1024px){
    .container{max-width: 85%;}
} 

@media (min-width: 768px){
    .container{max-width: 85%;}
}
.ch_survey { background-color: #108fbb;}
.form-control[readonly] { background: none !important; border: 0 !important;}
.input-group-text { display: none; }
thead {background-color: #cce5ff;}
.table td { vertical-align: middle;}
table.table th, table.table td { 
    padding: 1rem ;
    padding-top: 0.5rem !important;
    padding-bottom: 0.2rem !important;
    vertical-align: middle;
}
#survey_table1 p{margin-bottom:0rem;}
#survey_table .form-group{margin-bottom:0rem;}
.date div{display:none;}
/* .row.js_radio .col-lg-4 { width: ;} */