@media print {
    .js_surveyform {
        font-size: 13px;
    }
    .js_surveyform textarea.form-control {
        height: 10em;
    }
    .js_surveyform h1 {
        font-size: 28px;
    }
    .js_surveyform h2 {
        font-size: 20px;
    }
    .js_question-wrapper {
        page-break-inside: avoid;
    }
}

input[type="text"] { background:none !important; border: none !important;}
/* input[type="number"] { background:none !important; border: none !important;} */
/* input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance:textfield;
} */