body
{
    width: 100%;
    font-family: 'Noto Sans';
    background:'white';
    margin:auto;
}
.menu-bar
{
    background: #004473;
    margin: auto;
    width: -webkit-fill-available;
}
label
{
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}
.indicate
{
    float: right;
    clear: both;
    width: 100%;
    text-align: right;
    margin-bottom: 10px;
    color: rgb(255, 0, 0);
    font-weight: bold;
}
.mandatory
{
    color: #f00;
    font-size: 13px;
    font-weight: bold;
    position: absolute;
    right: 5px;
    top: 10px;
}
.mandate{color: #f00;
    font-size: 13px;
    font-weight: bold;
    position: absolute;
    right: 5px;
    top: 10px; }
.container.boxed .innercontent { padding: 30px 30px; background:#ffffff;box-shadow: 0 3px 5px rgba(0,0,2,0.25);}
#desc { font-weight: bold;}
.card{background-color: #ffca28; box-shadow: 0 3px 5px rgba(0,0,2,0.25);}
.progresss { list-style: none;margin: 0;padding: 25px 0px;display: table;table-layout: fixed;width: 100%;color: #849347; background-color: #004473;}

.progresss > li {position: sticky;display: table-cell;text-align: center;font-size: 1.2em;cursor: pointer;}
.progresss > li:before {content: attr(data-step);display: block;margin: 0 auto;background: #DFE3E4;width: 3em;height: 3em;text-align: center;margin-bottom: 0.25em;line-height: 3em;border-radius: 100%;position: relative;z-index: 1000;}
.progresss > li:after {content: '';position: absolute;display: block;background: #DFE3E4;width: 100%;height: 0.5em;top: 1.25em;left: 50%;margin-left: 1.5em\9;z-index: 2;}
.progresss > li:last-child:after {display: none;}
.progresss > li.is-complete {color: #2ECC71;}
.progresss > li.is-complete:before,
.progresss > li.is-complete:after {color: #FFF;background: #2ECC71;}
.progresss > li.is-active {color: white;}
.progresss > li.is-active:before {color: #FFF;background: #3498DB;}
.progresss__last:after {display: none !important;}
.progresss > li a { color: white; text-decoration:none;}
.progresss--medium {font-size: 1.3em;}
th { text-align: left; font-size: 15px;}
td { font-size:15px; font-weight: bold; }
a { color: white; text-decoration: none; }
