@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);

.bg {
  height: 630px;
  background: #333;
  align-items: center;
}

.card { background: ghostwhite; height: 400px; margin: 100px 200px;}
.main-content{
  padding-top: 80px;
  text-align: center;
}
.success_img { padding-bottom: 20px;}
.left-hole,.right-hole
{
  position: absolute;
  width:20px; height:20px;
  background:#333;
  border-radius:50%;
  top:15px;
}
.left-hole{
  left:15px;
  top:10px;
}
.right-hole{
  right:15px;
  top:10px;
}
.main-content > h1 
{
  color:#333;
  text-transform:uppercase;
  margin-top:-2%;
  font-size:2.5em;
  font-weight:900;
}

