*{margin:0; padding:0;}

body 
{
    font-family: 'Noto Sans';
    font-size:14px;
    color:#333;
    line-height:20px;
    /*background: #eff3f6;*/
    overflow-x: hidden;

  background: url('/kwantify_theme/static/src/img/_MG_8938 aa.jpg') no-repeat fixed right;
  background-size: 70%;
}

a{color:#dba314; text-decoration: none;}
a:hover{ color:#dba314;
    text-decoration:none;}

.pdl0{padding-left: 0px;}
.pdr0{padding-right: 0px;}
.padding0{padding: 0px;}

.animated 
{ 
    -webkit-animation-duration: 1s; 
    animation-duration: 1s; 
    -webkit-animation-fill-mode: both; 
    animation-fill-mode: both; 
} 

.innertext{width: 30%;float: right;margin-top: 10%;margin-right: 15%;}
.innertext h1{font-size: 50px;font-weight: bold;letter-spacing: 1px;color: #263238;margin-bottom: 10px;}
.innertext p{color: #263238;font-size: 19px;line-height: 26px;margin-top: 25px;margin-bottom: 50px;}
.innertext a{background: #2e3192;color: #fff;font-size: 22px;margin-top: 20px;padding: 15px 40px;border: 1px solid #2e3192;border-radius: 5px;font-weight: bold;text-decoration: none;}
.innertext a:hover { border: 1px solid #de2b15;border-radius: 5px;text-decoration: none;}
.innertext a i{padding-left: 20px;}
.bgimg
{
    background: #647dfe url(../img/bgimg1.jpg) no-repeat top left;
    float: left; 
    height: 90%; 
    width: 100%; 
    height: 900px; 
    background-size: 100%;
}

.hvr-shutter-out-horizontal {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    background: #e1e1e1;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }

  
  #display-success
  {
  width: 500px;
  border: 2px solid #D8D8D8;
  padding: 10px;
  border-radius: 5px;
  font-family: Arial;
  font-size: 13px;
  text-transform: uppercase;
  background-color: rgb(236, 255, 216);
  color: green;
  text-align: center;
  margin-top: 30px;
  }
  #display-error
{
width: 400px;
border: 1px solid #D8D8D8;
padding: 5px;
border-radius: 5px;
font-family: Arial;
font-size: 11px;
text-transform: uppercase;
background-color: rgb(255, 249, 242);
color: rgb(211, 0, 0);
text-align: center;
}
    
  .hvr-shutter-out-horizontal:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #ff515b;
      color: #fff;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-shutter-out-horizontal:hover, .hvr-shutter-out-horizontal:focus, .hvr-shutter-out-horizontal:active {
    color: white;}
  .hvr-shutter-out-horizontal:hover:before, .hvr-shutter-out-horizontal:focus:before, .hvr-shutter-out-horizontal:active:before {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);}

.grey{padding: 10px 0px; background-color: #263238;}
.navbar-default .navbar-toggle {border-color: #ff7c6f;}
.navbar-default .navbar-toggle .icon-bar {background-color: #ff7c6f;}

.idpart {background: #ecf7ff; width: 80%; margin: auto; padding: 50px 0px 25px 0px; border: 1px solid #cfe9fb; border-radius: 2px;
height: 235px;}
.mandatory {color: #f00; font-size: 13px; font-weight: bold; position: absolute; right: 0px; top: 10px;}
.form-group strong {position: absolute; left: 0px;}
.container{margin-top: 20px; margin-bottom: 20px;}
.width-25pc{width:25%;}
.width-20pc{width:20%;}
.width-12pc{width:12%;}
.txt-filename{font-size:10px; margin:0px; padding:0px;line-height:12px; color:#333 !important}
.work_exp_parent_block .item-block{margin:10px 0;}
.clear{clear:both}
.error{color:red;font-size:12px;}
.file-format-note{color:#656565; font-size:12px;}
.anchor{cursor:pointer;}
.table-bordered td.border-r-0{border-right:0px none;}
.table-bordered td.border-l-0{border-left:0px none;}
.btn.btn-primary{color: #FFFFFF; background-color: #108fbb; border-color: #108fbb;}