th.course {   border-bottom-width: 2px;
    width: 160px;
}

th.stream {   border-bottom-width: 2px;
    width: 160px;
}

th.uni {   border-bottom-width: 2px;
    width: 160px;
}

th.pass {   border-bottom-width: 2px;
    width: 160px;
}

th.grade {   border-bottom-width: 2px;
    width: 160px;
}
th.marks {   border-bottom-width: 2px;
    width: 160px;
}

th.docu {   border-bottom-width: 2px;
    width: 160px;
}

.table-responsive { overflow-x: hidden;}

.spinner::-webkit-inner-spin-button, 
.spinner::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}