body{ background: url('/kwantify_theme/static/src/img/Slide-Img.png') no-repeat right; background-size:82%; overflow-x: hidden;}
.welcome { font-size: 1.5em; font-weight: 90; display: inline-block;}
.kwantify { font-size: 28px; font-weight: 700; display: inline-block; line-height: 0; color: #f7941d !important;}
.text-content { width: 440px;margin-top: 26px;font-size: 14px;line-height: 1.75;}
.signinButton { margin-top: 12px;border: 2px solid #f7941d;color: #000; font-size: 1.2em;font-weight: 700;}
.website-link { margin-top: 25px;cursor: pointer;}

.signinButton:hover i {color: #fff;}
.icon-right-arrow {     vertical-align: middle;margin-left: 10px;font-size: 2rem;color: #f7941d;}

.navbar ul.nav > li.divider { visibility: hidden;}
.nav-link { color: white !important; font-weight: 700;}
.navbar-light { background-color: transparent !important;}
.social-icon a i { color: black;font-size: 20px; margin-right: 5px;background-size: contain;}

@media (min-width: 1200px){
    .container {max-width: 90%;}
}

@media (min-width: 992px){
    .container {max-width: 87%;}
}
.nav-link.active {
    font-size: 18px;
    padding-right: 5px !important;
    padding-left: 5px !important;
    padding-top: 4px;
}
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    left: 125px;
    margin-left:0px;
    line-height: 60px;
    background-color: transparent !important;
}
@media (max-width: 1440px){
    .footer {margin-left: -35px;}
}

@media (max-width: 1024px){
    .footer {margin-left: -65px;}
    body { background-size: contain;}
}
@media (min-width: 768px){
    .row.align-items-center { height: calc(100vh - 139px);}
}

