@font-face {
  font-family: 'icomoon';
  src:  url(/kwantify/static/src/fonts/icomoon.eot?286gem);
  src:  url(/kwantify/static/src/fonts/icomoon.eot?286gem#iefix) format('embedded-opentype'),
    url(/kwantify/static/src/fonts/icomoon.ttf?286gem) format('truetype'),
    url(/kwantify/static/src/fonts/icomoon.woff?286gem) format('woff'),
    url(/kwantify/static/src/fonts/icomoon.svg?286gem#icomoon) format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-right-arrow:before {
  content: "\e90a";
}
.icon-user-o:before {
  content: "\e900";
}
.icon-user1:before {
  content: "\e902";
}
.icon-person_outline:before {
  content: "\e903";
}
.icon-perm_identity:before {
  content: "\e903";
}
.icon-person:before {
  content: "\e904";
}
.icon-lock_outline:before {
  content: "\e905";
}
.icon-eye-off:before {
  content: "\e906";
}
.icon-eye:before {
  content: "\e907";
}
.icon-unlock:before {
  content: "\e908";
}
.icon-key:before {
  content: "\e909";
}
.icon-password:before {
  content: "\e909";
}
.icon-user:before {
  content: "\e901";
}
.icon-profile:before {
  content: "\e901";
}
.icon-account:before {
  content: "\e901";
}
.icon-avatar:before {
  content: "\e901";
}
.icon-arrow-right2:before {
  content: "\ea3c";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-linkedin2:before {
  content: "\eaca";
}
