.attendance_kiosk_mode_container {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-box-pack: start;
    /* justify-content: flex-start; */
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 0px 300px;
}

#check_in {
    margin: 0.1em 0 0.1em;
    padding: 0.15em 0.3em;
    border-radius: .1em;
    box-shadow: inset 2px -2px 0px 2px rgba(0, 0, 0, 0.3);
    pointer-events: none;
    background-color: #117a8b;
}

#has_lunch_out {
    margin: 0.1em 0 0.1em;
    padding: 0.15em 0.3em;
    border-radius: .1em;
    box-shadow: inset 2px -2px 0px 2px rgba(0, 0, 0, 0.3);
    pointer-events: none;
    background-color: #c79705;
}

#lunch_out {
    margin: 0.1em 0 0.1em;
    padding: 0.15em 0.3em;
    border-radius: .1em;
    box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.3)
}

#has_lunch_in {
    margin: 0.1em 0 0.1em;
    padding: 0.15em 0.3em;
    border-radius: .1em;
    box-shadow: inset 4px 4px 0 rgba(0, 0, 0, 0.3);
    pointer-events: none;
    background-color: #117a8b;
}

#lunch_in {
    margin: 0.1em 0 0.1em;
    padding: 0.15em 0.3em;
    border-radius: .1em;
    box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.3);
}

#has_check_out {
    margin: 0.1em 0 0.1em;
    padding: 0.15em 0.3em;
    border-radius: .1em;
    box-shadow: inset 4px 4px 0 rgba(0, 0, 0, 0.3);
    background-color: #c79705;
    pointer-events: none;
}

#check_out {
    margin: 0.1em 0 0.1em;
    padding: 0.15em 0.3em;
    border-radius: .1em;
    box-shadow: inset 4px 4px 0 rgba(0, 0, 0, 0.3);
    background-color: #c79705;
}