body {
    height: 100%;
    margin: 0;
}

.full-height {
    height: -webkit-fill-available;
}

.late-entry-form {
    background-color: #198fbb;
}

.le {
    align-self: center;
}

#oe_main_menu_navbar {
    display: none;
}

.blockquote p {
    padding: 0px !important;
    font-size: 0.8rem;
}

.blockquote .bq-title {
    margin-bottom: 0;
    font-size: 1rem !important;
    font-weight: 700 !important;
}

.blockquote {
    padding: 0.1rem 1rem !important;
    border-left: .25rem solid #eceeef;
}
.bq-primary {
    border-left: 3px solid #108fbb !important;
}
body.o_connected_user {
    padding-top: 0px !important;
}

.o_affix_enabled {
    display: none;
}

.site-footer {
    display: none;
}

.navbar.navbar-expand-md.navbar-light.bg-light {
    display: none;
}
