<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">This Module adds functionlity of the Fiscal year and Periods
        </h2>
        <h3 class="oe_slogan">similar to Odoo / Openerp v7.</h3>
        <div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Fiscal Year and Period's menu</h2>
        <div>
            <img src="FiscalYearsMenu.png" height="200" width="800">
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Fiscal Year and Period creation</h2>
        <div>
            <img src="FiscalYearCreate.png" height="420" width="800">
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Creating a test invoice</h2>
        <div>
            <img src="InvoiceCreate.png" height="420" width="800">
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <h2 class="oe_slogan" style="color:#875A7B;">Fiscal year and Period on the journal Entry</h2>
        <div>
            <img src="JournalEntryScreen.png" height="420" width="800">
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">Need help or want extra features?</h2>
            <h2 class="oe_slogan">Email:info@geotechnosoft.com</h2>
        </div>
        <div class="oe_span6">
            <div class="oe_demo oe_picture oe_screenshot text-center" style="text-align: center;align: center;">
                <a href="http://www.geotechnosoft.com"><img src="company_logo.png"></a>
            </div>
        </div>
    </div>
</section>