body {
    /*background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);*/
    min-height: 100vh;
}

.gallery-container h1 {text-align: left;font-weight: bold;color: #58595a;}
.gallery-container p.page-description {margin: 30px auto;font-size: 18px;color: #85878c;}
.gallery {padding: 0px;position: relative;}
.card.gallery { height: 270px;}
.card-img-top{position: relative;background-position: center;background-repeat: no-repeat;background-size: cover;}

.gallery .card {
    padding: 0;
    margin-bottom: 30px;
    /*border-radius: 4px;*/
    border: none;
    transition: 0.15s ease-in-out;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}

.welcome { font-size: 1.5em; font-weight: 90; display: inline-block;}
.kwantify { font-size: 28px; font-weight: 700; display: inline-block; line-height: 0; color: #f7941d !important;}

.gallery .lightbox-box img {/*border-radius: 4px 4px 0 0;*/}
.gallery .card-body{padding: 26px 30px;text-align: center;}
.gallery .card-body h3 {font-size: 14px;font-weight: bold;margin-top: 0;}
.card-title { display: inline-block;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.card-text { white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.gallery .card-body p {font-size: 12px;color: #7b7d7d;margin: 0;}

.content-details {
    position: absolute;
    text-align: center;
    padding-left: 0em;
    padding-right: 0em;
    width: 100%;
    bottom: 50%;
    left: 50%;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: all 0.3s ease-in-out 0s;
    -moz-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
    background: rgba(0,0,0,0.5);
  }
.card.gallery:hover .content-details{bottom: 10%;opacity: 1;}
.content-details h3{
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.15em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
    font-size: 100%;
    margin-bottom: 0px;
    padding: 1em;
}
  
.content-details p{color: #fff;font-size: 0.8em;}
.fadeIn-bottom{bottom: 0%;}
.gallery_name { font-size: 18px; overflow-wrap: break-word; font-weight:700;}
.baguetteBox-button {background-color: transparent !important;}
/*.tz-gallery {padding: 40px;}*/

.tz-gallery .thumbnail {
    padding: 0;
    margin-bottom: 30px;
    background-color: #fff;
    /*border-radius: 4px;*/
    border: none;
    transition: 0.15s ease-in-out;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.06);
}
.tz-gallery .thumbnail:hover {transform: translateY(-0px) scale(1.02);}
/*.tz-gallery .lightbox div {border-radius: 4px 4px 0 0;}*/

.nav-link.active {font-weight: 700;}
body.o_connected_user { padding-top: 0 !important;}
#oe_main_menu_navbar { display: none;}
#oe_main_menu_navbar + #wrapwrap .o_header_affix{top:0px}
.tz-gallery{clear:both; padding-top:20px;}

@media (min-width: 1600px){
    .container{max-width: 85%; } 
} 
@media (min-width: 1280px){
    .container{max-width: 85%;}
} 

@media (min-width: 1024px){
    .container{max-width: 85%;}
} 

@media (min-width: 768px){
    .container{max-width: 85%;}
}