.right_align{
    text-align: left !important;
    white-space: nowrap;
}
/* .o_column_sortable{
    text-align: left !important;
} */

.left_align_text{
    text-align: left !important;
    white-space: nowrap;
}