/* /hr_recruitment/static/src/scss/hr_job.scss defined in bundle 'web.assets_backend' */
 .o_kanban_view.o_kanban_dashboard.o_hr_recruitment_kanban.o_kanban_ungrouped .o_kanban_record{width: 350px;}
 .o_kanban_view.o_kanban_dashboard.o_hr_recruitment_kanban.o_kanban_ungrouped .o_kanban_record:not(.o_kanban_ghost){height: 180px;}
 .o_kanban_view.o_kanban_dashboard.o_hr_recruitment_kanban .ribbon::before, .o_kanban_view.o_kanban_dashboard.o_hr_recruitment_kanban 
 .ribbon::after{display: none;}.o_kanban_view.o_kanban_dashboard.o_hr_recruitment_kanban 
 .ribbon span{background-color: #108fbb; padding: 5px; font-size: small; z-index: unset;}
 .o_kanban_view.o_kanban_dashboard.o_hr_recruitment_kanban .ribbon-top-right{margin-top: -8px;}
 .o_kanban_view.o_kanban_dashboard.o_hr_recruitment_kanban .ribbon-top-right span{left: 0px; right: 30px;}
 .o_kanban_view.o_kanban_dashboard .o_kanban_record_subtitle{height: 1em;}.o_kanban_view.o_kanban_dashboard 
 .o_recruitment_kanban_boxes{display: -webkit-box; display: -webkit-flex; display: flex; -webkit-flex-flow: row nowrap; flex-flow: row nowrap;}
 .o_kanban_view.o_kanban_dashboard .o_recruitment_kanban_boxes .o_recruitment_kanban_box{position: relative; padding: 0 0 0 0; -webkit-box-flex: 1; -webkit-flex: 1 1 auto; flex: 1 1 auto; display: -webkit-box; display: -webkit-flex; display: flex; -webkit-flex-flow: row nowrap; flex-flow: row nowrap; justify-content: center;}
 .o_kanban_view.o_kanban_dashboard .o_recruitment_kanban_boxes .o_recruitment_kanban_box:first-child{-webkit-box-pack: start; justify-content: flex-start; padding-left: 16px;}
 .o_kanban_view.o_kanban_dashboard .o_recruitment_kanban_boxes .o_recruitment_kanban_box div:last-child{-webkit-box-pack: end; justify-content: flex-end; padding-right: 16px; text-align: right;}.o_kanban_view.o_kanban_dashboard .o_recruitment_kanban_boxes .o_recruitment_kanban_box .o_value{font-weight: 800;}
 .o_kanban_view.o_kanban_dashboard .o_recruitment_kanban_boxes .o_recruitment_kanban_box > a{font-weight: 500;}.o_kanban_view.o_kanban_dashboard 
 .o_recruitment_kanban_boxes .o_recruitment_kanban_box > a.o_needaction{font-size: small; font-weight: 400; margin-left: 4px; opacity: 0.5;}
 .o_kanban_view.o_kanban_dashboard .o_recruitment_kanban_boxes .o_recruitment_kanban_box > a.o_needaction:hover, .o_kanban_view.o_kanban_dashboard 
 .o_recruitment_kanban_boxes .o_recruitment_kanban_box > a.o_needaction:focus, .o_kanban_view.o_kanban_dashboard .o_recruitment_kanban_boxes 
 .o_recruitment_kanban_box > a.o_needaction.focus{opacity: 1;}.o_kanban_view.o_kanban_dashboard .o_recruitment_kanban_boxes 
 .o_recruitment_kanban_box > a.o_needaction:before{content: "/ ";}.o_kanban_view.o_kanban_dashboard .o_recruitment_kanban_boxes 
 .o_recruitment_kanban_box > a.o_needaction:after{content: "\f086"; font: normal normal normal 14px/1 FontAwesome;}
 .o_kanban_view .oe_kanban_card .o_kanban_state_with_padding{padding-left: 7%; padding-bottom: 5%; width: 12px;}
 .o_recruitment_list .o_list_button{text-align: right;}
