/* /web/static/src/scss/ribbon.scss defined in bundle 'web.assets_backend' */
 .ribbon{width: 150px; height: 150px; overflow: hidden; position: absolute;}.ribbon::before, 
 .ribbon::after{position: absolute; z-index: -1; content: ''; display: block; border: 5px solid #2980b9;}
 .ribbon span{z-index: 1; position: absolute; display: block; width: 225px; padding: 15px 40px; box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); 
    color: #fff; font: 700 18px/1 'Lato', sans-serif; text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); text-transform: uppercase; text-align: center; 
    white-space: nowrap; overflow: hidden; text-overflow: ellipsis;}.ribbon-top-right{margin-top: -24px; right: 0;}.ribbon-top-right::before, 
    .ribbon-top-right::after{border-top-color: black; border-right-color: black;}.ribbon-top-right::before{top: 0; left: 0;}
    .ribbon-top-right::after{bottom: 0; right: 0;}.ribbon-top-right span{left: -15px; top: 30px; transform: rotate(45deg);}
