.modal-header { background-color: #f0af24; color:black; }
.modal-body { color: black;}
.header_button { height: 35px; width:35px; margin-right: 20px; border: 2px solid #263238;}
.portlet_button { height: 35px; width:35px; margin-right: 20px; border: 2px solid #263238; }
.container .bh { margin-top: 4px;}
.clearfix { margin-bottom: 20px;}


// Navbar and sidebar color change
body.blue header>nav.o_main_navbar { background: #108fbb;  }
body.blue .app-sidebar-panel {background: #108fbb; }
.btn-blue { border-radius: 50%; background-color: #108fbb;}

.btn-primary { color: #fff; background-color: #108fbb; border-color: #108fbb;}

body.orange header>nav.o_main_navbar { background: #f0af24; color:black; }
body.orange .app-sidebar-panel {background: #f0af24; }
.btn-orange { border-radius: 50%; background-color: #f0af24;}


body.red header>nav.o_main_navbar { background: #BD3727;  }
body.red .app-sidebar-panel {background: #BD3727; }
.btn-red { border-radius: 50%; background-color: #BD3727;}

// Navbar and sidebar color change

// Portlet color change
.btn-orangered { background-color: #ff9100;}
body.orangered .widget-head {background: #ff9100; }
body.orangered .empdir_name  {color: #263238; }
body.orangered .Pfliter {color: #263238; }
body.orangered .Pmaximize  {color: #263238; }
body.orangered .Psettings {color: #263238; }
body.orangered .Prefresh {color: #263238; }

.btn-yellowgreen { background-color: #c6ff00;}
body.yellowgreen .widget-head {background: #c6ff00; }
body.yellowgreen .empdir_name {color: #263238; }
body.yellowgreen .Pfliter {color: #263238; }
body.yellowgreen .Pmaximize  {color: #263238; }
body.yellowgreen .Psettings {color: #263238; }
body.yellowgreen .Prefresh {color: #263238; }

.btn-blueviolet { background-color: #d500f9;}
body.blueviolet .widget-head {background: #d500f9; }

.btn-darkred { background-color: #ff1744;}
body.darkred .widget-head {background: #ff1744; }

.btn-darkseagreen { background-color: #00e676;}
body.darkseagreen .widget-head {background: #00e676; }
body.darkseagreen .empdir_name {color: #263238; }
body.darkseagreen .Pfliter {color: #263238; }
body.darkseagreen .Pmaximize  {color: #263238; }
body.darkseagreen .Psettings {color: #263238; }
body.darkseagreen .Prefresh {color: #263238; }

.btn-darkblue { background-color: #2962ff;}
body.darkblue .widget-head {background: #2962ff; }
// Portlet color change

body.no_sidebar .app-sidebar-panel { visibility: hidden;}
body.no_sidebar html {
    .o_web_client > .o_main > .o_main_content { padding-left: 0;}
} 

body.open_sidebar .app-sidebar-panel {
    background: url(../img/breaking-triangle-desktop.jpg);
    border-right: 1px solid #f0af24;
    height: 100% !important;
    max-height: calc(120% - 46px);
    overflow-y: auto;
    overflow-x: hidden;
    width: 700px;
    position: relative;
    > .csm-logo-lg { display: inline-block;}
    > .csm-logo-sm { display: none;}
}

