
/* App Sidebar Panel */

$odoo-sidebar-width: 75px fixed;
// html .o_web_client .o_main .o_main_content {
//     padding-left: 60px;
// }
.app-sidebar-panel {
    /* background: url(../img/breaking-triangle-desktop.jpg); */
    background-color: #000000;
    border-right: 1px solid #f0af24;
    height: 100% !important;
    max-height: calc(100% - 46px);
    overflow-y: auto;
   /* overflow-x: hidden; */
    width: 60px;
    z-index: 200;
    /*position: fixed;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;*/
    @media (max-width: 768px) {
      display: none;
    }
    > div.app-sidebar > ul >  li > a  > span.title {
        font-size: 14px;
        margin-left:7px;
        display: inline-block;
    }
    > .csm-logo-sm{
        display: inline-block;
    }
    > .csm-logo-lg{
        display: none;
    }
}

// .app-sidebar-panel:hover {
//     position: absolute;
//     -webkit-transition: all 0.5s ease;
//     -moz-transition: all 0.5s ease; 
//     -o-transition: all 0.5s ease;
//     transition: all 0.5s ease;
//     width:250px;
//     z-index: 200;
//     > div.app-sidebar > ul >  li > a  > span.title {
//         display: inline-block;
//     }
//     > .csm-logo-sm{
//         display: none;
//     }
//     > .csm-logo-lg{
//         display: inline-block;
//     }
// }
.anchor { cursor: pointer;}

/* @media (min-width: 768px) {
	.o_menu_apps {
		display: none !important;
	}
} */

//.app-sidebar-panel:hover {
//    @include o-flex(0, 0, $odoo-sidebar-width);
//}
.csm_logo {
    padding: 4px 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    height: 40px;
    cursor: pointer;
}
.app-sidebar {
    white-space: nowrap;
    padding: 0;
    .app-sidebar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    > li {
        display: block;
        margin: 0;
        padding: 0;
        border: 0px;
        > a {
            display: block;
            position: relative;
            margin: 0;
            border: 0px;
            padding: 5px 15px;
            text-decoration: none;
            font-size: 20px;
            font-weight: 300;
            color: $gray-lighter;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
        > li:hover > a {
            background-color: #f0af24;
	        color: #fff;
        }
    }
}

.app-sidebar-menuitem {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}
.separator { background-color: #f0af24; height: 3px; }
.toggle-sidebar {
    margin-left: 0px - $odoo-sidebar-width;
}
