@font-face {
    font-family: Roboto;
    src: url(/kwantify_theme/static/src/fonts/OpenSans-Regular.ttf)
}


$gray-base:              #000;
$gray-darker:            lighten($gray-base, 13.5%);
$gray-dark:              #666;
$gray:                   #777;
$gray-light:             #AEA79F;
$gray-lighter: lighten($gray-base, 93.5%);


// Change colors here

// Odoo EE colors
//$brand-primary: #875a7b;
//$brand-secondary: #00A09D;
//------------------------
$brand-primary: #108fbb;
$brand-secondary: #337abc;
//------------------------


.o_required_modifier.o_input::placeholder { color: #000;}
$brand-primary-dark: darken($brand-primary, 10%);
$brand-secondary-dark: darken($brand-secondary, 10%);

body {
    font-family: "Roboto";
}

// .o_loading {
//     background-color: $brand-primary;
// }
a:not([href]):not([tabindex]):hover{ color: #000; }
.o_main_navbar {
    background: #108fbb;
    border-bottom: none;
}

.o_main_navbar > a:hover, .o_main_navbar > a:focus, .o_main_navbar > button:hover, .o_main_navbar > button:focus {
    background-color: #f7951d;
    color: inherit;
}

.o_main_navbar > ul > li > a:hover, .o_main_navbar > ul > li > label:hover {
    background-color: #f7951d;
    color: #000;
}
.o_kanban_view .o_kanban_record strong.o_kanban_record_title { font-weight: 700; }
.o_main_navbar .show .dropdown-toggle {
    background-color: #f7951d;
}

// // Buttons

//.btn {border-radius: 0px;}

.btn-primary.btn-sm {
    color: #fff;
    background-color: $brand-secondary;
    border-color: $brand-secondary;
}

.btn-primary:hover {
    color: #fff;
    background-color: $brand-secondary-dark;
    border-color: $brand-secondary-dark;
}
.dropdown-menu {border-radius: 0px;}
a {color: #7C7BAD;text-decoration: none;background-color: transparent;-webkit-text-decoration-skip: objects;}
a:hover {color: $brand-secondary-dark;text-decoration: none;}
.o_control_panel {background-color: #ffffff;}
.breadcrumb {background-color: inherit;}
.table-sm th, .table-sm td {
    padding: 0.3rem;
    border-right: 1px solid 
    #eee;
}
// Forms
.o_form_view {
     .o_form_sheet_bg {
        background: none !important;
        background-color: #F9F9F9 !important;
        padding: 0px;
        .o_form_sheet {
            border: 1px solid #d9d7d7;
            box-shadow: 0 5px 20px -15px black;
        }
    } 

    .o_form_statusbar {
        //margin: -16px;
        .o_statusbar_status {
            > .o_arrow_button {
                background: #ffffff;
            }
        }
    }
}

// App Dashboard

.o_menu_apps .dropdown-menu.show {
	background: transparent url('/dashboard') no-repeat scroll center center / cover;
}
.fa-th-large::before {content: "\f00a";}
.o_menu_apps .full {width: 46px;font-size: 18px;text-align: center;}

.o-app-name {
	color: #fff;
    font-size: 15px;
    font-weight: 400;
    text-overflow: ellipsis;
    white-space: nowrap;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.45);
}

.o_menu_apps .dropdown-menu.show .o-app-icon {
	/*padding: 20px 0 0;*/
	margin-top:20px;
}

.o_menu_apps .dropdown-menu.show .o-app-icon:hover {
	box-shadow: 0 8px 15px -10px black;
    transform: translateY(-1px);
}

.dropdown-item.o_app {background: transparent;}
.o-menu-search-result {color: #fff;}

// Chat window
.o_thread_window .o_thread_window_header {background-color: $brand-primary;}

// Handbook Styles //
.o_kanban_view .o_kanban_record .o_kanban_image {
    position: relative;
    margin-right: 5px;
    flex: 1 0 95px;
    min-height: 95px;
    min-width: 95px;
    background-size: cover;
    background-position: center;
}
.o_kanban_view .o_kanban_record .oe_kanban_details.handbook {
    width: 100%;
    text-align: justify;
    /* left: 100%; */
    direction: ltr;
    text-overflow: ellipsis;
    /* text-align: end; */
    white-space: nowrap;
    overflow: hidden;
}
.o_searchview .o_searchview_facet .o_searchview_facet_label { background-color: #108fbb;}
.o_field_many2manytags.o_field_widget.o_kanban_tags + span { font-size: 0.94791667rem;}
.o_kanban_view.o_kanban_grouped .o_kanban_record { margin-bottom: 10px;}
.oe_kanban_body.handbook_body { margin-left: 60px;}
.o_field_invalid.o_required_modifier.o_input, .o_required_modifier .o_input { background-color: #D2D2FF !important;}

