/**********************************************************************************
*
*    Copyright (c) 2017-2019 MuK IT GmbH.
*
*    This file is part of MuK Documents 
*    (see https://mukit.at).
*
*    This program is free software: you can redistribute it and/or modify
*    it under the terms of the GNU Lesser General Public License as published by
*    the Free Software Foundation, either version 3 of the License, or
*    (at your option) any later version.
*
*    This program is distributed in the hope that it will be useful,
*    but WITHOUT ANY WARRANTY; without even the implied warranty of
*    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
*    GNU Lesser General Public License for more details.
*
*    You should have received a copy of the GNU Lesser General Public License
*    along with this program. If not, see <http://www.gnu.org/licenses/>.
*
**********************************************************************************/

.mk_file_kanban_view {
	height: 100%;
	.o_kanban_record {
		//modified by T Ketaki 
		// padding: 0;
		// max-height: $o-kanban-image-width + 1;

		.o_kanban_image {
			width: $o-kanban-image-width + 1;
			border-right: solid 1px $gray-400;
		}
		.o_kanban_details .o_kanban_details_wrapper {
			padding: 4px 4px 4px 0;
			.o_kanban_record_title {
				font-weight: bold;
				padding-right: 16px;
			}
			.o_kanban_record_body {
				max-height: 12px;
				.o_kanban_tags {
					@include o-text-overflow;
				}
			}
			.oe_kanban_avatar {
			    margin-left: 0px;
			}
			.mk_file_kanban_lock {
				margin-top: 2px;
			    font-size: 1.2rem;
			    line-height: 20px;
			    margin-right: 6px;
			}
		}
		.o_dropdown_kanban {
	        .dropdown-menu {
	            min-width: 22rem;
	            .mk_file_kanban_operations {
		            padding-right: 8px;
	            }
	            .mk_file_kanban_actions {
				    padding-left: 8px;
	            }
	            .fa {
		           	min-width: 12px;
	       			padding-right: 2px;
				    text-align: center;
	            }
		        .oe_kanban_colorpicker {
		            max-width: none;    
		            margin: 5px 5px;
	    			padding: 10px 0 0 25px;
		            border-top: 1px solid gray('300');
		        }
	        }
	    }
	}
}