.alert-calendar {
    color: #40405a;
    background-color: #cce5ff;
    border-color: #108fbb;
}

.thead-blue {
    background-color: #108fbb;
}

.thead-orange {
    background-color: #ceac72;
}

.table-bordered thead.thead-blue th {
    width: 33.33%;
}

.training_tbody {
    display: block;
    height: 100px;
    overflow: auto;
}

thead.training_thead, .training_tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

thead.training_thead {
    color: #fff;
}

.fixed_headers th, .fixed_headers td {
    padding: 0.2rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}