#field {
    margin-left: .5em;
    float: left
}

#field, label {
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small
}

br {
    clear: both
}

input {
    border: 1px solid #000;
    margin-bottom: .5em
}

input.error {
    border: 1px solid red
}

label.error {
    background: url(/kw_training/static/src/images/unchecked.gif) no-repeat;
    padding-left: 16px;
    margin-left: .3em
}

.card-header.ch {
    background-color: #108fbb;
    font-weight: 700;
    color: #fff;
}

@media (min-width: 1600px) {
    .container {
        max-width: 85%;
    }
}

@media (min-width: 1280px) {
    .container {
        max-width: 85%;
    }
}

@media (min-width: 1024px) {
    .container {
        max-width: 85%;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 85%;
    }
}

body.o_connected_user { padding-top: 0px !important;}
#oe_main_menu_navbar { visibility: hidden;}
    .thead-orange {
        background-color: #eee;
    }