.rpt_heading{
    color: #fff;
    background-color: #108fbb;
}
.rpt_heading th { font-weight: 500;}

.report_tbody {
    display:block;
    height: 600px;
    overflow:auto;
}
thead.report_thead, .report_tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}
thead.report_thead {
    background-color: #263238;
    color: #fff;
}

.fixed_headers th, .fixed_headers td {
    padding: 0.5rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}
  