body, html {margin: 0;padding: 0;}
@font-face {
    font-family: Roboto;
    src: url(/kwantify_theme/static/src/fonts/OpenSans-Regular.ttf);
}
.full-width {width: 100%;}
.navbar {color: #fff;}
.logedin-user {display: flex;align-items: center;}
.logedin-user img {width: 40px;margin-right: 11px;}
.logedin-user .info {flex: 1;}
.sub-header {background: #f5f5f5;border-bottom: 1px solid #EEEEEE;}
.questionList {
	display: flex;
    flex-direction: column;
    min-height: calc(100vh - 130px);
	box-shadow: -1px 0 3px rgba(0,0,0,0.2);
}
.q-header {background: #eee;height: 56px;padding: 0 1rem;}
.q-header .row {height: 100%;}
.q-header .col-sm-4 {padding-left: 0;padding-right: 0;}
.q-header button {padding: .55rem .7rem !important;box-shadow: none;}
.q-body {flex: 1;padding: 0.5rem;min-height: 400px;}
.q_question_counter { font-size: 1.4rem;}
.q-footer {height: 36px;padding: 0 1rem;}
.q-footer a {color: #999;text-decoration: underline;font-size: 0.8rem;}
.sl-list {display: flex-root;flex-wrap: wrap;overflow-y: auto;height: calc(100vh - 325px);}
.sl-list button {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    border: 1px solid #ccc;
    background: #fff;
    margin: 6px 6px;
    cursor: pointer;
    outline: none;
}
.sl-list button:hover {box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2);}
.sl-list button.attended {background: #259B24;color: #fff;}
.sl-list button.review {background: #4480C3;border-color: #4480C3;color: #fff;}
.legend {padding-top: 2rem;}
.legend label {position: relative;padding-left: 29px;font-size: .8rem;margin-left: 12px;}
.legend label:before {
	content: "";
	position: absolute;
    left: 0;
    top: -3px;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background: #eee;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.6);
}
.legend label.attended:before {background: #259B24;}
.legend label.review:before {background: #4480C3;}

.q_index.active {background-color: #ffa726; color: #000;}

.o_main_navbar { display: none;}
body.o_connected_user { padding-top: 0px !important; overflow-y:auto}
header.o_affix_enabled { display: none;}
.navbar.navbar-expand-md.navbar-light.bg-light { display: none;}
.navbuttons { position: absolute; width: 100%; bottom: 30px;}
.container-fluid.px-4{ padding-left: 1.9rem !important;}

.btn-lg.nb{padding: 0.5rem 1rem;font-size: .94rem;}

.btn.disabled, .btn:disabled {opacity: 0.35;background-color: #ddd !important;color: #000;}
.content { line-height: 1.6;}
.infos {overflow-wrap: break-word;white-space: pre-line;line-height: 1.3;}
#question_block { height: calc(100vh - 220px);overflow: auto;}
.o_connected_user { overflow: hidden;}
::-webkit-scrollbar { width: 5px;}
::-webkit-scrollbar-thumb {background: #4480C3; }
::-webkit-scrollbar-thumb:hover {background: rgb(2, 81, 172); }
.site-footer { display:none;}
#time_left .timer-block{display:inline-block; width: 25px; padding-right:0.1rem; text-align: right; font-size: 24px;}
.w-90{width:90px;}
.bg-blue { background: #4285f4!important; color: white; text-transform: uppercase;}

.h1.heading { font-size: 30px; font-weight: 700;}
.h1.skill_name {font-size: 48px; font-weight: 700;}
.h6.skill_type {margin-top: -16px;}
.h1.percentage { font-weight: 700; font-size: 48px;}
.h1.score { font-weight: 700; font-size: 48px;}
.h1.time { font-weight: 700; font-size: 48px;}
.h1.t-mark { font-weight: 700; font-size: 48px; color: #afa9a9; }
.h1.a-time { font-weight: 700; font-size: 48px; color: #afa9a9;}
.col-sm-5.text-center { padding: 44px;}
.total-mark{color: #afa9a9;}
.alloted-time{color: #afa9a9;}

th .w-20 { width: 20% !important;}
.p-time { padding: 3rem 0.8rem !important;}
.p-percentage { padding: 3rem 1rem !important;}
.fa.fa-thumbs-up { font-size: 130px; color:#fff;}
.fa.fa-thumbs-down { font-size: 130px; color:#fff;}
.fa.fa-frown-o { font-size: 130px; color:#fff;}

.circle-icon .fa.fa-thumbs-down{
    background: #ff1744;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    text-align: center;
    line-height: 130px;
    vertical-align: middle;
    padding: 35px;
}

.circle-icon .fa.fa-frown-o{
    background: #ff8100;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    text-align: center;
    line-height: 130px;
    vertical-align: middle;
    padding: 35px;
}
.card { box-shadow: 0 22px 37px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);}
.circle-icon .fa.fa-thumbs-up{
    background: #028051;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    text-align: center;
    line-height: 130px;
    vertical-align: middle;
    padding: 35px;
}
tr.no-top-border td {border-top: none}
@media screen and (min-width: 1024px)
{
    .sl-list button {width: 52px;height: 52px;}
}