@font-face {
  font-family: OpenSans;
  src: url(/kwantify_theme/static/src/fonts/OpenSans-Regular.ttf)
}
* {margin: 0;padding: 0;box-sizing: border-box;}

body { 
    background: url('/kwantify_theme/static/src/img/_MG_8938 aa.jpg') no-repeat fixed right;
    background-size: 70%;

    width: 100%;
    font-family: 'Noto Sans';
    margin:auto;
}
th { text-align: left; font-size: 15px;}
td { font-size:15px; font-weight: bold; }
a { color: white; text-decoration: none; }

.menu-bar{margin: auto;width: -webkit-fill-available;}
label{display: inline-block;max-width: 100%;margin-bottom: 5px;font-weight: 700;}
.indicate{float: right;clear: both;width: 100%;text-align: right;margin-bottom: 10px;color: rgb(255, 0, 0);font-weight: bold;}
.mandatory{color: #f00;font-size: 13px;font-weight: bold;/*position: absolute;right: 5px;top: 10px;*/}
.mandate{color: #f00;font-size: 13px;font-weight: bold;position: absolute;right: 5px;top: 10px; }
.container.boxed .innercontent { padding: 30px 30px; background:#ffffff;box-shadow: 0 3px 5px rgba(0,0,2,0.25);}
#desc { font-weight: bold;}
#errspan{font-size:14px;}
.progresss { list-style: none;margin: 0;padding: 25px 0px;display: table;table-layout: fixed;width: 100%;color: #d3d3d3; *background-color: #004473;}
.progresss > li {position: sticky;display: table-cell;text-align: center;font-size: 1.0em;cursor: pointer;}
.progresss > li:before {content: attr(data-step);display: block;margin: 0 auto;background: #DFE3E4;width: 3em;height: 3em;text-align: center;margin-bottom: 0.25em;line-height: 3em;border-radius: 100%;position: relative;z-index: 1000;}
.progresss  li:after {content: '';position: absolute;display: block;background: #DFE3E4;width: 100%;height: 0.5em;top: 1.25em;left: 50%;margin-left: 1.5em\9;z-index: 2;}
.progresss > li:last-child:after {display: none;}
.progresss > li.is-complete {color: #2ECC71; cursor: initial;}
.progresss > li.is-complete:before, .progresss > li.is-complete:after {color: #FFF;background: #2ECC71;}
.progresss > li.is-active {color: white; font-size: 1.1em; line-height: 1.1em;}
.progresss > li.is-active:before {color: #FFF;background: #faa635;}
.progresss__last:after {display: none !important;}
.progresss > li a { color: white; text-decoration:none;}
.progresss--medium {font-size: 1.3em;}


.card { background: #108fbb;}

/*.card, .navbar, .pagination .page-item.active .page-link { box-shadow: none; }*/
.navbar-light { background: transparent !important;}
.collapse.navbar-collapse { visibility: hidden;}

.md-form label {color:  #333; transform: translateX(15px) translateY(5px);}
.md-form label.active { transform: translateY(-20px) translateX(15px) scale(0.8);}
.md-form label.reg { color: #333; transform: none;}
.md-form label.reg.active { transform: translateY(-20px) scale(0.9);}

.md-form input { color: #333;}
.md-form input[type="text"]:not(.browser-default):focus:not([readonly]) { color: #333;border-bottom: 1px solid #ced4da;box-shadow: 0 1px 0 0 #fff;;}
.md-form input[type="password"]:not(.browser-default):focus:not([readonly]) { color: #333;border-bottom: 1px solid #ced4da;box-shadow: 0 1px 0 0 #fff;;}
/*.md-form input[type="text"]:not(.browser-default):focus:not([readonly]) + label { color: #fff;}*/
/*.md-form input[type="password"]:not(.browser-default):focus:not([readonly]) + label { color: #fff;}*/
.md-form.input-group .input-group-text.md-addon { font-weight: 700;}

/*.row.align-items-center { height: calc(100vh - 252px);}*/
.col-sm-6.col-sm-offset-6.col-md-7 { max-width: 550px; }
.loginButton { padding: 0.74rem 2.14rem; font-weight: 700;}
input::placeholder { color: #fff;} 
.pull-left.pl-5 { padding-left: 2rem !important;}
.pull-right.pr-5 { padding-right: 2rem !important;}
#top_menu_collapse{
    visibility: hidden;
}

.lang_table { background-color: #108fbb; color: white; }
.prof_table { background-color: #108fbb; color: white; }
.edu_table { background-color: #108fbb; color: white; }
.training_table { background-color: #108fbb; color: white; }


/*Select 2 fixes*/
.form-control.select2-container{border: 1px solid transparent; border-bottom: 1px solid #ced4da;border-radius: 0px;}
.form-control .select2-choice{background: none; border-radius: 0px; padding: 0px;}
.form-control .select2-choice .select2-arrow{border-radius: 0px;}
.select2-container .select2-choice .select2-arrow{border: 0px none; background: none;}
.select2-container-active .select2-choice, .select2-container-active .select2-choices{-webkit-box-shadow: none; box-shadow:none;}
.select2-dropdown-open.select2-drop-above .select2-choice, .select2-dropdown-open.select2-drop-above .select2-choices{background-image: none; border: 0px none;}
.form-control.select2-container.select2-dropdown-open{border-color: transparent; border-bottom-color: #ced4da; border-radius: 0px; border-left: 1px solid #ced4da; border-right: 1px solid #ced4da;}
.select2-drop-active{border-top: 1px solid #5897fb; padding-top: 4px;}
.select2-drop.select2-drop-above.select2-drop-active{border-bottom: 1px solid #5897fb;}
.md-form label.mdb-main-label{position: absolute; top:0px; left:0px; font-size: 1rem; transform: translateY(-20px) translateX(15px) scale(0.8);}
.md-form label.error, .md-form label.error.active{position: relative; left: 0px; top: -10px; margin:0px; padding: 0px; font-size: 13px; color: #ff0000; font-weight: 500; transform: none;}
.md-form textarea.md-textarea{overflow-y: auto;}

.file-format-note{font-size: 0.8em;}
.table th, .table td{vertical-align:middle;}
.table thead th{vertical-align: top;}
.wd-10{width:10%;}
.wd-12{width:12%;}
.wd-15{width:15%;}
.wd-20{width:20%;}
.wd-25{width:25%;}

@media (min-width: 1600px){
  .container{max-width: 85%; } 
  .col-sm-6.col-sm-offset-6.col-md-7 { max-width: 550px; }
} 
@media (min-width: 1280px){
  body { background-size: 60%;}
  .col-sm-6.col-sm-offset-6.col-md-7 { max-width: 520px; }
  .container{max-width: 85%;}
} 

@media (min-width: 1024px){
  .col-sm-6.col-sm-offset-6.col-md-7 { max-width: 500px; }
  .container{max-width: 85%;}
  .row.align-items-center { height: calc(100vh - 252px);}
}

@media (min-width: 768px){
  .container{max-width: 85%;}
  .row.align-items-center { height: calc(100vh - 139px);}
}
@media (min-width: 414px) and (max-width: 736px)
{
  .row.align-items-center { margin-top: 0px !important;}
}
@media (min-width: 375px) and (max-width: 812px)
{
  .col-sm-3.mb-2 { margin-bottom: 10px;}
  body { background-size: auto; }
  .navbar-toggler-icon { display: none;}
  .copyright-text { color: #fff;}
  .copyright-text a { color: #fff;}
  .row.align-items-center { margin-top: 135px;}
  .loginButton {padding: 0.8rem 1.14rem;font-weight: 700;}
}

@media (min-width: 360px) and (max-width: 640px)
{
  .progress_name { font-size: 14pxt-;}
  .col-sm-3.mb-2 { margin-bottom: 16px !important;}
}
.form-control.valid { border: none;}

input[type="file" i] {
  background-color: #108fbb;
}

.file-upload {display:block;text-align:center;font-family: Helvetica, Arial, sans-serif;font-size: 12px;}
.file-upload .file-select{display:block;color: #34495e;cursor:pointer;line-height:35px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative;}
.file-upload .file-select .file-select-button{background:#108fbb;padding:0 10px;display:inline-block;height:35px;line-height:35px; font-size: 14px;color: #fff;}
.file-upload .file-select .file-select-name{line-height:40px;display:inline-block;padding:0 10px; font-size: 14px;}
.file-upload .file-select:hover{border-color:#34495e;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload .file-select:hover .file-select-button{background:#34495e;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload.active .file-select{border-color:#3fa46a;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload.active .file-select .file-select-button{background:#3fa46a;color:#FFFFFF;transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-webkit-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;}
.file-upload .file-select input[type=file]{z-index:100;cursor:pointer;position:absolute;height:100%;width:100%;top:0;left:0;opacity:0;filter:alpha(opacity=0);}
.file-upload .file-select.file-select-disabled{opacity:0.65;}
.file-upload .file-select.file-select-disabled:hover{cursor:default;display:block;border: 2px solid #dce4ec;color: #34495e;cursor:pointer;height:40px;line-height:40px;margin-top:5px;text-align:left;background:#FFFFFF;overflow:hidden;position:relative;}
.file-upload .file-select.file-select-disabled:hover .file-select-button{background:#dce4ec;color:#666666;padding:0 10px;display:inline-block;height:40px;line-height:40px;}
.file-upload .file-select.file-select-disabled:hover .file-select-name{line-height:40px;display:inline-block;padding:0 10px;}

.wd-20 {width: 20%;}
.navbar, .pagination .page-item.active .page-link {
  box-shadow: none;
}