@font-face {
    font-family: OpenSans;
    src: url(/kwantify_theme/static/src/fonts/OpenSans-Regular.ttf)
  }
.wordbreak { word-wrap: break-word; }

.rpt_heading{color: #fff;background-color: #108fbb;}
.rpt_heading th { font-weight: 700;}

.report_tbodys {/*display:block;overflow:auto;*/}
thead.report_theads, .report_tbodys tr {/*display:table;width:100%;table-layout:fixed;*/}
table.dataTable{ margin:0;}

thead.report_theads {background-color: #263238;color: #fff;}
input[type="Search"] { padding: 5px; border: 2px solid #108fbb;}
.fixed_headers td {padding: 0.5rem;vertical-align: top;border-top: 1px solid #dee2e6;}
.fixed_headers th  {padding: 0.5rem;vertical-align: top;border-top: 1px solid #dee2e6;}
#skill_report_length { display: none;}
#skill_employee_length { display: none;}
/* #skill_report_filter { display: none;} */
/* tfoot input {
  width: 100%;
  padding: 3px;
  box-sizing: border-box;
} */
.rotate_header { transform: rotate(-90deg); font-size: 0.8rem;}
td.green { background: chartreuse;}
td.red { background: #ff1744;}
td.orange { background: orange;}
.color-block.red { height:30px; width: 30px; border-radius: 100%; background-color: #ff1744;}
.color-block.orange { height:30px; width: 30px; border-radius: 100%; background-color: orange;}
.color-block.green { height:30px; width: 30px; border-radius: 100%; background-color: chartreuse;}

.tool-tip {display: inline;position: relative;}
  .tool-tip:hover:after{
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    background: #444;
    border-radius: 8px;
    color: #fff;
    content: attr(title);
    margin: -82px auto 0;
    font-size: 16px;
    padding: 13px;
    width: 220px;
  }
  .tool-tip:hover:before{
    border: solid;
    border-color: #444 transparent;
    border-width: 12px 6px 0 6px;
    content: "";
    left: 45%;
    bottom: 30px;
    position: absolute;
  }
  table.dataTable thead .sorting{ white-space: nowrap; }
