body{font-family: 'Roboto', sans-serif;background-color: rgb(249, 249, 249);}
.checkbox {
  padding-left: 20px;
}

.checkbox label {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  padding-left: 5px;
}

.checkbox label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}

.checkbox label::after {
  display: inline-block;
  position: absolute;
  width: 16px;
  height: 16px;
  left: 0;
  top: 0;
  margin-left: -20px;
  padding-left: 3px;
  padding-top: 1px;
  font-size: 11px;
  color: #555555;
}

.checkbox input[type="checkbox"] {
  opacity: 0;
  z-index: 1;
}

.checkbox input[type="checkbox"]:focus + label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.checkbox input[type="checkbox"]:checked + label::after {
  font-family: 'FontAwesome';
  content: "\f00c";
}

.checkbox input[type="checkbox"]:disabled + label {
  opacity: 0.65;
}

.checkbox input[type="checkbox"]:disabled + label::before {
  background-color: #eeeeee;
  cursor: not-allowed;
}

.checkbox.checkbox-circle label::before {
  border-radius: 50%;
}

.checkbox.checkbox-inline {
  margin-top: 0;
}

.checkbox-primary input[type="checkbox"]:checked + label::before {
  background-color: rgb(36, 220, 221);
  border-color: rgb(36, 220, 221);
}

.checkbox-primary input[type="checkbox"]:checked + label::after {
  color: #fff;
}

.guidelines-section{
	border: 1px solid rgb(0, 0, 0);
    padding: 1.8rem;
    background-color: rgb(253, 249, 248);
}
.guidelines-section ul{margin-top: 2rem;}
.guidelines-section li{line-height: 180%;color: rgb(121, 85, 72);}
.guidelines-section h3{position: relative;}
.guidelines-section h3:before{content: "";height: 3px;width:135px;position: absolute;left: 0;bottom: -7px;background-color: rgb(0, 236, 206);}
.mt-1{margin-top: 1rem;}
.mt-2{margin-top: 2rem;}
.mb-2{margin-bottom: 2rem;}
.mr-1{margin-right: 1rem;}
.mt-3{margin-top: 3.5rem;}
.mt-5{margin-top: 5rem;}
.mt-8{margin-top: 8rem;}
.ml-mt{margin-left: 1rem;margin-top: 3.5rem;}
.ml-2{margin-left: -8rem;}
.d-block{display: block;}
.btn-padding{padding: .7rem 2.5rem .7rem;}
.text-green{color: #55a558;}
.text-lightblue{color: #0351a2;}
.text-orange{color: #f7a62f;}
.text-blue{color: #5264a2;}
.text-red{color: rgb(187, 26, 7)!important;}
.bg-blue{background-color: #5264a2;color: #fff; }
.navbar {border-radius: 0px;}
.navbar-brand {padding: 0px;}
.navbar-header h1 a{color: #fff!important;}
.navbar-brand img{width: 10%;}
.d-inline-block{display:inline-block!important; }
.markdivision-sec p{color: rgb(162, 156, 156);font-size: 1.4rem;}
.markdivision-sec p strong{color: rgb(0, 0, 0);}
.smile-emoji{height:60px;margin-left: -18px;}
.smile-emoji img{height: 100%;padding: 1rem;}
.click-btn{font-weight: bold;}
.click-btn p {font-size: 1rem;font-weight: normal;}
.click-btn .btn:hover{border: 1px solid  #5264a2;}
.note-section p{font-size: 1rem;}
.note-section strong{font-size: 1.3rem;}
.markdivision-sec .fa{font-size: 2.5rem;margin: 12px;margin-top:0px;vertical-align: middle;}
.border-dash{ border-top-style: dashed;color: #9c9c9c;  border-width: 2px;}

#oe_main_menu_navbar{display:none;}
body.o_connected_user{padding-top: 0px !important}
.o_header_affix{display:none;}
nav .collapse{display:none;}
.navbar-expand-md .navbar-collapse{display:none !important}
header.o_affix_enabled{display:none;}