.o_kanban_view.o_kanban_ungrouped .card.o_kanban_record { width: 250px;}

.navbar { 
    background-color: #108bff ;
    box-shadow: none;
}

.navbar-brand { 
    color: white;
    font-weight: 600;
}

.navbar { height: 70px;}
.modal-title{display: none}
