/*main*/
canvas
{
    background-color: #ffffff;
}
.hr_dash {
    height: 100%;;
}
#generate_payroll_pdf, #generate_attendance_pdf {
    background-color: #ffffff;
    border: 0;
}
i.fa.fa-2x.fa-file-pdf-o {
    color: red;
}
.hr_dash.col-xs-12.col-md-12.col-lg-12 {
    margin-top: 35px;
    height: 100%;
    width: 100%;
}
/*User Head*/

/*Dashboard boxes*/
.dash-box {
    position: relative;
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#ff5641', endColorstr='#fd3261', GradientType=0);
    border-radius: 5px;
    margin-bottom: 30px;
    text-align: center;
    -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}
.dash-box-icon {
    position: absolute;
    transform: translateY(-50%) translateX(-50%);
    left: 50%;
}
.dash-box-action {
    transform: translateY(-50%) translateX(-50%);
    position: absolute;
    left: 50%;
}
.dash-box-body {
    height: 320px;
    border-radius: 5px;
    overflow-y: scroll;
    padding: 20px 0px;
}
.dash-time {
    height: 190px;
    position: relative;
    border-radius: 5px;
    text-align: center;
    -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    margin-bottom: 10px;
}
.dash-box-time {
    height: 190px;
    padding: 12px 10px;
    border-radius: 5px;
    }
.dash-reward {
    height: 118px;
    position: relative;
    border-radius: 5px;
    text-align: center;
    -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    margin-bottom: 10px;
}

.dash-box-news {
    height: 190px;
    position: relative;
    border-radius: 5px;
    margin-bottom: 10px;
    text-align: center;
    -moz-box-shadow: 1px 2px 4px rgba(0, 0, 0,0.5);
    -webkit-box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .5);
}
/* .dash-box-news-body {
    height: 220px;
    padding: 12px 10px;
    border-radius: 5px;
} */
.dash-box-icon:after {
    width: 60px;
    height: 60px;
    position: absolute;
    background: rgba(247, 148, 137, 0.91);
    content: '';
    border-radius: 50%;
    left: -10px;
    top: -10px;
    z-index: -1;
}
.dash-box-icon > i {
    background: #ff5444;
    border-radius: 50%;
    line-height: 40px;
    color: #FFF;
    width: 40px;
    height: 40px;
	font-size:22px;
}
.dash-box-icon:before {
    width: 75px;
    height: 75px;
    position: absolute;
    background: rgba(253, 162, 153, 0.34);
    content: '';
    border-radius: 50%;
    left: -17px;
    top: -17px;
    z-index: -2;
}
.dash-box-action > button {
    border: none;
    background: #FFF;
    border-radius: 19px;
    padding: 7px 16px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 11px;
    letter-spacing: .5px;
    color: #003e85;
    box-shadow: 0 3px 5px #d4d4d4;
}
.dash-box-body > .dash-box-count {
    display: block;
    font-size: 30px;
    color: #FFF;
    font-weight: 300;
}
.dash-box-body > .dash-box-title {
    font-size: 13px;
    color: rgba(255, 255, 255, 0.81);
}

.dash-box-color-2 {
    background: rgb(252, 190, 27);
    background: -moz-linear-gradient(top, rgba(252, 190, 27, 1) 1%, rgba(248, 86, 72, 1) 99%);
    background: -webkit-linear-gradient(top, rgba(252, 190, 27, 1) 1%, rgba(248, 86, 72, 1) 99%);
    background: linear-gradient(to bottom, rgba(252, 190, 27, 1) 1%, rgba(248, 86, 72, 1) 99%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#fcbe1b', endColorstr='#f85648', GradientType=0);
}
.dash-box-color-2 .dash-box-icon:after {
    background: rgba(254, 224, 54, 0.81);
}
.dash-box-color-2 .dash-box-icon:before {
    background: rgba(254, 224, 54, 0.64);
}
.dash-box-color-2 .dash-box-icon > i {
    background: #fb9f28;
}

.dash-box-color-3 {
    background: rgb(183,71,247);
    background: -moz-linear-gradient(top, rgba(183,71,247,1) 0%, rgba(108,83,220,1) 100%);
    background: -webkit-linear-gradient(top, rgba(183,71,247,1) 0%,rgba(108,83,220,1) 100%);
    background: linear-gradient(to bottom, rgba(183,71,247,1) 0%,rgba(108,83,220,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b747f7', endColorstr='#6c53dc',GradientType=0 );
}
.dash-box-color-3 .dash-box-icon:after {
    background: rgba(180, 70, 245, 0.76);
}
.dash-box-color-3 .dash-box-icon:before {
    background: rgba(226, 132, 255, 0.66);
}
.dash-box-color-3 .dash-box-icon > i {
    background: #8150e4;
}
.dash-box-color-4 {
    background: rgba(172,235,0,1);
    background: -moz-linear-gradient(top, rgba(172,235,0,1) 32%, rgba(172,235,0,1) 34%, rgba(121,198,15,1) 79%, rgba(99,182,22,1) 99%);
    background: -webkit-gradient(left top, left bottom, color-stop(32%, rgba(172,235,0,1)), color-stop(34%, rgba(172,235,0,1)), color-stop(79%, rgba(121,198,15,1)), color-stop(99%, rgba(99,182,22,1)));
    background: -webkit-linear-gradient(top, rgba(172,235,0,1) 32%, rgba(172,235,0,1) 34%, rgba(121,198,15,1) 79%, rgba(99,182,22,1) 99%);
    background: -o-linear-gradient(top, rgba(172,235,0,1) 32%, rgba(172,235,0,1) 34%, rgba(121,198,15,1) 79%, rgba(99,182,22,1) 99%);
    background: -ms-linear-gradient(top, rgba(172,235,0,1) 32%, rgba(172,235,0,1) 34%, rgba(121,198,15,1) 79%, rgba(99,182,22,1) 99%);
    background: linear-gradient(to bottom, rgba(172,235,0,1) 32%, rgba(172,235,0,1) 34%, rgba(121,198,15,1) 79%, rgba(99,182,22,1) 99%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aceb00', endColorstr='#63b616', GradientType=0 );
}
.dash-box-color-4 .dash-box-icon:after {
    background: rgba(165, 214, 49, 0.76);
}
.dash-box-color-4 .dash-box-icon:before {
    background: rgba(166, 208, 66, 0.66);
}
.dash-box-color-4 .dash-box-icon > i {
    background: #66b913;
}
.dash-box-color-5 {
    background: #355C7D;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #C06C84, #6C5B7B, #355C7D);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #C06C84, #6C5B7B, #355C7D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.dash-box-color-5 .dash-box-icon:after {
    background: rgba(180, 70, 245, 0.76);
}
.dash-box-color-5 .dash-box-icon:before {
    background: rgba(226, 132, 255, 0.66);
}
.dash-box-color-5 .dash-box-icon > i {
    background: #8150e4;
}
.dash-box-color-6 {
    background: #02111D;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #02111D, #037BB5, #02111D);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #02111D, #037BB5, #02111D); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.dash-box-color-6 .dash-box-icon:after {
    background: rgba(23, 105, 155, 0.66);
}
.dash-box-color-6 .dash-box-icon:before {
    background: rgba(22, 102, 151, 0.76);
}
.dash-box-color-6 .dash-box-icon > i {
    background: #0e4e75;
}
.dash-box-time .input-group {

    margin-bottom: 2px;
}
.input-group .form-control {  height: 40px;}
.input-group-text { width: 80px;}
.emp_panel {
    margin-bottom: 5px;
    padding-bottom: 0px;
    background-color: #FFF;
    height: 80px;
    border-bottom: 1px solid #ccc;
    white-space: nowrap;
    width: 100%;
}
.profile_img {
    padding: 8px 3px 0px 3px;
    /* border: 1px solid #ccc; */
    float: left;
    display: block;

    /* min-height: 30px; */
    margin: 5px 0px 0px 5px;
}

.profile_img:hover {
    margin-bottom: 10px;
    transform: scale(1.1);
}
.profile_name
{
    margin-left: 95px;
    text-align: left;
    padding-top: 12px;
    font-size: 13px;
    font-weight: bolder;
}
.pic {
    border: 2px solid steelblue;
    height: 60px;
    width:60px;
    margin-left: 5px;
}

/* width */
::-webkit-scrollbar {
width: 5px;
}
.container-fluid.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    margin-right: 0;
    margin-left: 0;
}
/* Track */
::-webkit-scrollbar-track {
background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #f0af24;
}
.sidepanel { margin-left: -35px;}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #f0af24;
}
.widget-head-side {
    margin-top: -12px;
    margin-left: -10px;
    margin-right: -10px;
    background-color: #263238;
    color: #007CC2;
    padding-top: 3px;
    padding-left: 4px;
    padding-right: 4px;
    height: 40px;
    border-bottom: 1px solid #ffff00;
}
.prof_header { background: #5f5e97; color:white;}
.tabss { margin-top:20px;}
.widget-head {

    background-color: #5f5e97;
    color: #007CC2;
    padding-top: 3px;
    padding-left: 4px;
    padding-right: 4px;
    height: 40px;
    border-bottom: 1px solid #ffff00;
}

.widget-search {

    background-color: aliceblue;
    color: #007CC2;
    padding-top: 3px;
    padding-left: 4px;
    padding-right: 4px;
    height: 40px;
    border-bottom: 1px solid #ffff00;
}

.usericon {
    margin-left:10px;
    font-size: 15px;
    cursor: pointer;
    color: #5f5e97;
}
.usericon:hover {
    color: #5c5ad4;
}

.empdir_name, .Pfliter, .Pmaximize, .Psettings, .Prefresh {
    margin-top: 5px;
    font-size: 16px;
    float: left;
    padding-left: 10px;
    color: white;
    text-transform: capitalize;
    font-weight: bolder;
}
.filters {
    float: right;
    letter-spacing: -8px;
    padding-right: 12px;
}
.work_phone {
    margin-left: 20px;
    text-align: left;
    padding-top: 10px;
    float: left;
}

 .form-control {
    padding-left: 3.375rem;
}

 .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.6rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.loadmore {
    border: 2px solid #9c27b0;
    padding-top: 4px;
    width: 60px;
    margin-top: 10px;
}

.loadmore:hover {
    background: #9c27b0;
    color: white;
}

.img { border-radius: 10%; height: 150px; width: 150px;}
.details { border-left:3px solid #ded4da; }
.icons { color: #9c27b0;}

@media screen and (max-width: 1024px)
{
    .empdir_name, .Pfliter, .Pmaximize, .Psettings, .Prefresh {
        margin-top: 7px;
        font-size: 13px;
        float: left;
        padding-left: 14px;
        color: white;
        text-transform: capitalize;
        font-weight: bolder;
    }
}

@media screen and (max-width: 768px)
{
    .empdir_name, .Pfliter, .Pmaximize, .Psettings, .Prefresh {
        margin-top: 6px;
        font-size: 14px;
        float: left;
        padding-left: 15px;
        color: white;
        text-transform: capitalize;
        font-weight: bolder;
    }
    .pic {
        border: 2px solid steelblue;
        height: 50px;
        width: 50px;
        margin-left: 5px;
    }
    .profile_name {
        margin-left: 70px;
        text-align: left;
        padding-top: 12px;
        font-size: 10px;
        font-weight: bolder;
    }
    .work_phone {
        text-align: left;
        float: left;
        margin-left: 6px;
        font-size: 10px;
    }
}


